{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'charts/css/charts.css' %}">

    <!-- MY JS -->
    <script src="{% static 'charts/javascript/charts.js' %}"></script>
    <script src="{% static 'charts/javascript/charts-display.js' %}"></script>

    <div class="block-wrapper">

        <div class="filter-block">

            <div class="chart-select-wrapper">
                <select class="chart-select" id="subject-select">
                    <option class="chart-select-option" value="player-count">Player Count</option>
                    <option class="chart-select-option" value="reviews">Reviews</option>
                </select>
            </div>

            <div class="chart-select-wrapper">
                <select class="chart-select" id="type-select">
                    <option class="chart-select-option" value="current">Current</option>
                    <option class="chart-select-option" value="all-time">All Time</option>
                </select>
            </div>

        </div>

        <div class="content-block">

            <div class="game-list-wrapper">

                {% for game in games %}

                    <a class="game-widget-wrapper" id="game-app-{{ game.app.app_id }}" href="/games/{{game.app.app_id}}/" tabindex="0">
                        <div class="game-widget-image-wrapper">
                            <img src="{{ game.app.header_image }}" alt="" class="game-widget-image">
                        </div>

                        <div class="game-info-widget-section">

                            <div class="game-info-title-section">
                                <header class="game-info-title-text">{{ game.app.name }}</header>
                            </div>

                            <div class="game-info-tags-section">
                                {% for tag in game.app.tags %}
                                    {% if forloop.counter < 5 %}
                                        <div class="game-tag-block">
                                            {{ tag }}         
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>

                        <div class="game-detail-section">
                            <div class="game-detail-section-label">
                                Player Count:
                            </div>
                            <div class="game-detail-section-content">
                                {{ game.player_count }}
                            </div>
                        </div>

                        <div class="game-rank-section">
                            <div class="game-rank-wrapper">
                                <div class="game-rank">
                                    1
                                </div>
                            </div>
                        </div>

                    </a>

                {% endfor %}

            </div> 

        </div>

    </div>

{% endblock %}
