{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'charts/css/charts.css' %}">

    <!-- MY JS -->
    <script src="{% static 'charts/javascript/charts.js' %}"></script>
    <script src="{% static 'charts/javascript/charts-display.js' %}"></script>

    <div class="block-wrapper">

        <div class="filter-block">

            <form action="" method="post" class="chart-filter-form" id="chart-form">
                {% csrf_token %}

                <div class="chart-select-wrapper">
                    <select class="chart-select" id="subject-select" name="subject">
                        {% if games_subject == "player_count" %}
                            <option class="chart-select-option" value="player-count" selected>Player Count</option>
                            <option class="chart-select-option" value="reviews">Reviews</option>
                        {% elif games_subject == "reviews" %}
                            <option class="chart-select-option" value="player-count">Player Count</option>
                            <option class="chart-select-option" value="reviews" selected>Reviews</option>
                        {% endif %}
                    </select>
                </div>
    
                <div class="chart-select-wrapper">
                    <select class="chart-select" id="type-select" name="type">
                        <option class="chart-select-option" value="current">Current</option>
                        <option class="chart-select-option" value="all-time">All Time</option>
                    </select>
                </div>

            </form>

        </div>

        <div class="content-block">

            <div class="game-list-wrapper">

                {% for game in games %}

                    <a class="game-widget-wrapper" id="game-app-{{ game.app.app_id }}" href="/games/{{game.app.app_id}}/" tabindex="0">
                        <div class="game-widget-image-wrapper">
                            <img src="{{ game.app.header_image }}" alt="" class="game-widget-image">
                        </div>

                        <div class="game-info-widget-section">

                            <div class="game-info-title-section">
                                <header class="game-info-title-text">{{ game.app.name }}</header>
                            </div>

                            <div class="game-info-tags-section">
                                {% for tag in game.app.tags %}
                                    {% if forloop.counter < 5 %}
                                        <div class="game-tag-block">
                                            {{ tag }}         
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>

                        <div class="game-detail-section">
                            <div class="game-detail-section-label">
                                {% if games_subject == "player_count" %}
                                    Player Count:
                                {% elif games_subject == "reviews" %}
                                    Reviews %
                                {% endif %}
                            </div>
                            <div class="game-detail-section-content">
                                {% if games_subject == "player_count" %}
                                    {{ game.player_count }}
                                {% elif games_subject == "reviews" %}
                                    {{ game.reviews_percentage }}
                                {% endif %}

                            </div>
                        </div>

                        <div class="game-rank-section">
                            <div class="game-rank-wrapper">
                                <div class="game-rank">
                                    {{ forloop.counter|add:sub_num }}
                                </div>
                            </div>
                        </div>

                    </a>

                {% endfor %}

            </div> 

            <div class="page-selector">
                {% if games.has_previous %}
                    {% if pass_search %}
                        <a href="?subject={{ games_subject }}&type={{ games_type }}&page={{ games.previous_page_number }}">Previous</a>
                    {% else %}
                        <a href="?page={{ games.previous_page_number }}">Previous</a>
                    {% endif %}
                {% endif %}

                <span class="current">
                    {% if games %}
                        Page {{ games.number }} of {{ games.paginator.num_pages }}
                    {% endif %}
                </span>

                {% if games.has_next %}
                    {% if pass_search %}
                        <a href="?subject={{ games_subject }}&type={{ games_type }}&page={{ games.next_page_number }}">Next</a>
                    {% else %}
                        <a href="?page={{ games.next_page_number }}">Next</a>
                    {% endif %}
                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}
