{% extends "charts/charts_base.html" %}
{% load static %}

{% block content %}

    <!-- MY CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'charts/css/charts.css' %}">

    <div class="charts-content">

        <div class="charts-box main-colour" id="trending-box">

            <div class="charts-box-title text-colour">
                <div class="charts-box-title-text">
                    TRENDING
                </div>
            </div>

            <div class="charts-box-content text-colour">
                <p>TEST CONTENT</p>
            </div>

            <div class="charts-box-end text-colour">
                <a class="charts-box-end-a text-colour" href="#"><b>More</b></a>
            </div>

        </div>

        <div class="charts-content">

            <div class="charts-box main-colour" id="top-played">
    
                <div class="charts-box-title text-colour">
                    <div class="charts-box-title-text">
                        TOP PLAYED
                    </div>
                </div>
    
                <div class="charts-box-content text-colour">
                    <p>TEST CONTENT</p>
                </div>
    
                <div class="charts-box-end text-colour">
                    <a class="charts-box-end-a text-colour" href="#"><b>More</b></a>
                </div>
    
            </div>
    
        </div>

        <div class="charts-content">

            <div class="charts-box main-colour" id="best-reviewed">
    
                <div class="charts-box-title text-colour">
                    <div class="charts-box-title-text">
                        BEST REVIEWED
                    </div>
                </div>
    
                <div class="charts-box-content text-colour">
                    <p>TEST CONTENT</p>
                </div>
    
                <div class="charts-box-end text-colour">
                    <a class="charts-box-end-a text-colour" href="#"><b>More</b></a>
                </div>
    
            </div>
    
        </div>

    </div>

{% endblock %}
