{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js" defer></script>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/content.css' %}">

    <script>
      //Check if the sizebar should be out or not when page is loaded
      $(document).ready(function() {
        if(localStorage.getItem("sidebar-status")){
          $(".sidebar").addClass("short-sidebar")
          $(".content-wrapper").addClass("short-content")
        }
      });
    </script>

    <!-- MY JS -->
    <script src="{% static 'home/javascript/base.js' %}"></script>

    <title>Steam Vision</title>



  </head>
  <body class="main-colour">
    <div class="wrapper" style="height: auto;">

      <nav class="navbar fixed-top navbar-dark main-colour">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="margin-left: 16px;">
            <img src="{% static 'home/images/steam-logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            <b id="nav-title">Steam Vision</b>
          </a>
          <a href="#" id="sidebar-toggle" class="bi bi-list me-auto ms-5" style="color: white; font-size:20px; padding: 5px;"></a>
        </div>
      </nav>

      <div class="sidebar main-colour">
        <ul class="sidebar-menu">
          <!-- <a href="{% url 'home' %}" style="text-decoration: none;"><li class="sidebar-menu-item current-page rounded" id="dashboard"><i class="bi bi-speedometer text-colour"></i><span class="text-colour">Dashboard</span></li></a> -->
          <a href="{% url 'game-list' %}" style="text-decoration: none;"><li class="sidebar-menu-item rounded" id="game"><i class="bi bi-controller text-colour"></i><span class="text-colour" href="#">Games</span></li></a>
          <!-- <a href="{% url 'test' %}" style="text-decoration: none;"><li class="sidebar-menu-item rounded" id="test"><i class="bi bi-speedometer text-colour"></i><span class="text-colour" href="#">TEST</span></li></a> -->
        </ul>
      </div>

      <div class="content-wrapper secondary-colour">

        {% block content %}{% endblock %}

      </div>
    </div>
  </body>
</html>