{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'home/css/game-detail.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/graphs.css' %}">

    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8" defer></script>

    <script defer>
        const game_id = '{{ game.app_id }}'
        const reviews_percentage = '{{ game_stats.current_review_score }}'
    </script>

    <div class="block-wrapper">

        <div class="detail-block-wrapper">

            <div class="detail-title-wrapper">
                <header class="detail-title-text">
                    {{ game.name }}
                </header>
            </div>

            <div class="detail-section-top">
                <div class="detail-image-wrapper">
                    <img class="detail-image" src="{{ game.header_image }}" alt="">
                </div>

                <div class="detail-info-section">
                    <div class="detail-description-title-wrapper">
                        <header class="detail-description-title-text">Description</header>
                    </div>
                    <div class="detail-description-text-wrapper">
                        {{ game.description }}
                    </div>
                    <div class="detail-about-title-wrapper">
                        <header class="detail-about-title-text">About</header>
                    </div>
                    <div class="detail-about-content-wrapper">
                        <!-- RELEASE DATE -->
                        <div class="detail-about-content-row">
                            <div class="detail-about-content-left">
                                <b>Release Date:</b>
                            </div>
                            <div class="detail-about-content-right">
                                {{ game.release_date }}
                            </div>
                        </div>
                        <!-- DEVELOPER -->
                        <div class="detail-about-content-row">
                            <div class="detail-about-content-left">
                                <b>Developer:</b>
                            </div>
                            <div class="detail-about-content-right">
                                {% for developer in developers %}
                                    {% if forloop.last %}
                                        <a class="detail-about-links detail-about-text-right" href="/developer/{{ developer.pk }}/">{{ developer.name }}</a>
                                    {% else %}
                                        <a class="detail-about-links detail-about-text-right" href="/developer/{{ developer.pk }}/">{{ developer.name }},</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <!-- PUBLISHER -->
                        <div class="detail-about-content-row">
                            <div class="detail-about-content-left">
                                <b>Publisher:</b>
                            </div>
                            <div class="detail-about-content-right">
                                {% for publisher in game.publisher %}
                                    {% if forloop.last %}
                                        {{ publisher }}
                                    {% else %}
                                        {{ publisher }},
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <!-- <div class="detail-about-content-left">
                            <div class="detail-about-content-left-section">
                                <b>Release Date:</b>
                            </div>
                            <div class="detail-about-content-left-section">
                                <b>Developer:</b>
                            </div>
                            <div class="detail-about-content-left-section">
                                <b>Publisher:</b>
                            </div>
                        </div>
                        <div class="detail-about-content-right">
                            <div class="detail-about-content-right-section">
                                {{ game.release_date }}
                            </div>
                            <div class="detail-about-content-right-section">
                                {% for developer in game.developer %}
                                    {{ developer }}
                                {% endfor %}
                            </div>
                            <div class="detail-about-content-right-section">
                                {% for publisher in game.publisher %}
                                    {{ publisher }}
                                {% endfor %}
                            </div>
                        </div> -->
                    </div>
                </div>

            </div>

            <div class="detail-section-middle">
                <div class="supported-system-label">
                    <b>Supported Systems:</b>
                </div>
                <div class="supported-system-section">
                    <!-- WINDOWS -->
                    {% if game.windows_support %}
                        <div class="detail-system-wrapper" title="Windows Support">
                            <i class="bi bi-windows detail-system-icon"></i>
                            <div class="detail-system-text">Windows</div>
                        </div>
                    {% endif %}
                    <!-- MAC -->
                    {% if game.mac_support %}
                        <div class="detail-system-wrapper" title="Mac Support">
                            <i class="bi bi-apple detail-system-icon"></i>
                            <div class="detail-system-text">Mac</div>
                        </div>
                    {% endif %}
                    <!-- LINUX -->
                    {% if game.linux_support %}

                        <div class="detail-system-wrapper" title="Linux Support">
                            <i class="bi bi-laptop detail-system-icon"></i>
                            <div class="detail-system-text">Linux</div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="detail-section-bottom">

                <div class="descriptors-section-wrapper">
                    <div class="descriptors-label-wrapper">
                        <b>Genre:</b>
                    </div>
                    <div class="descriptors-container-wrapper">
                        {% for genre in game.genres %}
                            <div class="descriptors-widget">
                                {{ genre }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="descriptors-label-wrapper">
                        <b>Tags:</b>
                    </div>
                    <div class="descriptors-container-wrapper">
                        {% for tag in game.tags %}
                            {% if forloop.counter < 11 %}
                                <div class="descriptors-widget">
                                    {{ tag }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="descriptors-label-wrapper">
                        <b>Categories:</b>
                    </div>
                    <div class="descriptors-container-wrapper">
                        {% for category in game.categories %}
                            {% for descriptor in descriptors %}
                                {% if descriptor.name == category %}
                                    {% if descriptor.type == 'Categories' %}
                                        <div class="category-widget" title="{{ descriptor.name }}">
                                            <i class="bi {{ descriptor.symbol }} category-widget-image"></i>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>

                <div class="widgets-section-wrapper">
                    <div class="widget-section">
                        <div class="widget-section-content">
                            <div class="widget-section-content-left">
                                <div class="widget-section-content-top">
                                    <div class="widget-section-content-top-text" style="color: #4169E1" title="All time highest recorded player count">
                                        {{ game_stats.highest_player_count }}
                                    </div>
                                </div>
                                <div class="widget-section-content-bottom">
                                    All Time Players
                                </div>
                            </div>
                            <div class="widget-section-content-right">
                                <div class="widget-section-content-top">
                                    <div class="widget-section-content-top-text" title="Current player count">
                                        {{ player_count.player_count }}
                                    </div>
                                </div>
                                <div class="widget-section-content-bottom">
                                    Current Players
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-section">
                        <div class="widget-section-content">
                            <div class="widget-section-content-left">
                                <div class="widget-section-content-top">
                                    <div class="review-widget-percentage-text" id="top-widget-current-review-score">

                                    </div>
                                </div>
                                <div class="widget-section-content-bottom">
                                        Review Percentage
                                </div>
                            </div>
                            <div class="widget-section-content-right">
                                <div class="widget-section-content-top" style="flex-wrap: wrap">
                                    <div class="widget-section-content-vertical">
                                        <i class="bi bi-arrow-up" style="color: #80a45c;"></i>
                                        <div class="review-widget-positive-text" id="top-widget-current-reviews-positive" title="Positive Reviews">
                                            {{ game_stats.number_reviews_positive }}
                                        </div>
                                    </div>
                                    <div class="widget-section-content-vertical">
                                        <i class="bi bi-arrow-down" style="color: #f03424;"></i>
                                        <div class="review-widget-negative-text" id="top-widget-current-reviews-negative" title="Negative Reviews">
                                            {{ game_stats.number_reviews_negative }}
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-section-content-bottom">
                                        Number of Reviews
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-section">
                        <div class="widget-section-content">
                            <div class="widget-section-content-left">
                                <div class="widget-section-content-top">
                                    <div class="widget-section-content-top-text" id="widget-section-highest-sentiment-score" style="color: #4169E1" title="All time highest recorded sentiment score">
                                        {{ game_stats.highest_sentiment_score }}
                                    </div>
                                </div>
                                <div class="widget-section-content-bottom">
                                    All Time Sentiment
                                </div>
                            </div>
                            <div class="widget-section-content-right">
                                <div class="widget-section-content-top">
                                    <div class="widget-section-content-top-text" id="widget-section-current-sentiment-score" title="Current Sentiment Score">
                                        {{ game_stats.current_sentiment_score }}
                                    </div>
                                </div>
                                <div class="widget-section-content-bottom">
                                    Current Sentiment
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-section">
                        <div class="widget-section-content" style="flex-direction: column;">
                            <div class="widget-section-content-top emotion-container-flexer" id="content-widgets-prominent-emotions"></div>
                            <div class="widget-section-content-bottom">
                                Prominent Emotions
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="detail-button-section">
                <button class="detail-button" id="follow-game-button" type="button" onclick="FollowButton()">
                    Follow
                </button>
                <button class="detail-button" id="compare-game-button" type="button" onclick="CompareButton()">
                    Compare
                </button>
            </div>

            <div class="detail-message-section">
                
            </div>

        </div>

        <div class="game-content-selector">
            <div class="game-content-selector-widget content-selected" id="review-selector-button" tabindex="0">
                <b>Reviews Stats</b> 
            </div>
            <div class="game-content-selector-widget" id="recent-reviews-selector-button" tabindex="0">
                <b>Recent Reviews</b> 
            </div>
            <div class="game-content-selector-widget" id="players-selector-button" tabindex="0">
                <b>Players</b> 
            </div>
        </div>

        <div class="game-review-wrapper" id="reviews-section">
            <!-- REVIEWS -->
            <div class="game-section">

                <div class="detail-title-wrapper">
                    <header class="detail-title-text">
                        Reviews
                    </header>
                </div>
    
                <div class="visualisation-container">
                    <!-- HEADER SECTION -->
                    <div class="visualisation-container-header">
                        <div class="visualisation-container-options-wrapper">
                            <select class="visualisation-select" id="reviews-select">
                                <option class="visualisation-select-option" value="review-all-time">All Time (By Year)</option>
                                <option class="visualisation-select-option" value="review-past-12-months">Past 12 Months</option>
                                <option class="visualisation-select-option" value="review-past-6-months">Past 6 Months</option>
                                <option class="visualisation-select-option" value="review-past-1-month">Past Month</option>
                                <option class="visualisation-select-option" value="review-past-2-weeks">Past 2 Weeks</option>
                                <option class="visualisation-select-option" value="review-past-1-week">Past 7 Days</option>
                            </select>
                        </div>
                        <div class="visualisation-container-header-detail-widget">
                            <div class="visualisation-container-header-detail-widget-left">
                                <b>Total Reviews:</b> 
                            </div>
                            <div class="visualisation-container-header-detail-widget-right" id="reviews-total-info">
                                {{ total_reviews }}
                            </div>
                        </div>
                    </div>
                    <!-- GRAPH LEGEND SECTION -->
                    <div class="visualisation-legend-bar">
                        <div class="visualisation-legend-bar-main-section">
                            <!-- Positive legend -->
                            <div class="visualisation-legend-widget-wrapper positive-reviews-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: royalblue;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Positive
                                </div>
                            </div>
                            <!-- Negative Label -->
                            <div class="visualisation-legend-widget-wrapper negative-reviews-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: crimson;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Negative
                                </div>
                            </div>

                            <!-- No Reviews Label -->
                            <div class="visualisation-legend-widget-wrapper no-reviews-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: rgba(217, 217, 217, 0.3);"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    No Reviews
                                </div>
                            </div>

                        </div>

                        <!-- Extra information -->
                        <div class="visualisation-legend-bar-small-section">
                            <div class="visualisation-legend-bar-small-circle-wrapper">
                                <i class="bi bi-info-circle-fill visualisation-legend-bar-info-cirlce"></i>
                            </div>
                            <div class="absolute-anchor">
                                <div class="vis-info-box-wrapper hide-section">
                                    <div class="vis-info-box">
                                        <p class="vis-info-text" style="font-size: 13px;">
                                            The following graph shows the ratio of positive reviews vs negative reviews
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- REVIEWS GRAPH -->
                    <div class="visualisation-container-content reviews-container-content" id="reviews-container-content">
                        <svg class="visualisation-svg" id="reviews-graph"></svg>
                    </div>
                </div>

                <div class="visualisation-widgets-drawer">
                    <div class="divider"></div>
                    <div class="widgets-draw-icon-wrapper">
                        <i class="bi bi-chevron-double-down widgets-icon"></i>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="visualisation-widgets-wrapper hide-ani">
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                </div>
            </div>

            <!-- SENTIMENT -->
            <div class="game-section">

                <div class="detail-title-wrapper">
                    <header class="detail-title-text">
                        Reviews Sentiment
                    </header>
                </div>
    
                <div class="visualisation-container">
                    <div class="visualisation-container-header">
                        <div class="visualisation-container-options-wrapper">
                            <select class="visualisation-select" id="sentiment-select">
                                <option class="visualisation-select-option" value="sentiment-all-time">All Time</option>
                                <option class="visualisation-select-option" value="sentiment-past-12-months">Past 12 Months</option>
                                <option class="visualisation-select-option" value="sentiment-past-6-months">Past 6 Months</option>
                                <option class="visualisation-select-option" value="sentiment-past-1-month">Past Month</option>
                                <option class="visualisation-select-option" value="sentiment-past-2-weeks">Past 2 Weeks</option>
                                <option class="visualisation-select-option" value="sentiment-past-1-week">Past 7 Days</option>
                            </select>
                        </div>
                        <div class="visualisation-container-header-detail-widget">
                            <div class="visualisation-container-header-detail-widget-left">
                                <b>Sentiment Value:</b> 
                            </div>
                            <div class="visualisation-container-header-detail-widget-right" id="sentiment-value-info">
                                {{ sentiment_score }}
                            </div>
                        </div>
                    </div>
                    <!-- SENTIMENT GRAPH LEGEND SECTION -->
                    <div class="visualisation-legend-bar">
                        <div class="visualisation-legend-bar-main-section">
                            <!-- High Negative Sentiment Label -->
                            <div class="visualisation-legend-widget-wrapper high-negative-sentiment-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #f03424;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    High Negative
                                </div>
                            </div>
                            <!-- Moderate Negative Sentiment Label -->
                            <div class="visualisation-legend-widget-wrapper mid-negative-sentiment-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #f89c3c;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Moderate Negative
                                </div>
                            </div>
                            <!-- Light Negative Sentiment Label -->
                            <div class="visualisation-legend-widget-wrapper low-negative-sentiment-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #f4ff50;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Light Negative
                                </div>
                            </div>
                            <!-- Neutral Sentiment Label -->
                            <div class="visualisation-legend-widget-wrapper neutral-sentiment-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: royalblue;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Neutral
                                </div>
                            </div>
                            <!-- Light Positive Sentiment Label -->
                            <div class="visualisation-legend-widget-wrapper light-positive-sentiment-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #6c3;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Light Positive
                                </div>
                            </div>
                            <!-- Moderatly Positive Sentiment Label -->
                            <div class="visualisation-legend-widget-wrapper medium-positive-sentiment-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #80a45c;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Moderate Positive
                                </div>
                            </div>
                            <!-- Highly Positive Sentiment Label -->
                            <div class="visualisation-legend-widget-wrapper high-positive-sentiment-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #99b67d;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    High Positive
                                </div>
                            </div>
                        </div>
                        <!-- Extra information -->
                        <div class="visualisation-legend-bar-small-section">
                            <div class="visualisation-legend-bar-small-circle-wrapper">
                                <i class="bi bi-info-circle-fill visualisation-legend-bar-info-cirlce"></i>
                            </div>
                            <div class="absolute-anchor">
                                <div class="vis-info-box-wrapper hide-section">
                                    <div class="vis-info-box">
                                        <p class="vis-info-text" style="font-size: 13px;">
                                            The following graph shows the sentiment across the reviews for this game.
                                            <br>
                                            <br>A score less than 0 is negative 
                                            <br>
                                            <br>A score of 0 is netural
                                            <br>
                                            <br>A score greater than 0 is positive
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visualisation-container-content" id="sentiment-container-content">
                        <svg class="visualisation-svg" id="sentiment-graph">
    
                        </svg>
                    </div>
                </div>

                <div class="visualisation-widgets-drawer">
                    <div class="divider"></div>
                    <div class="widgets-draw-icon-wrapper">
                        <i class="bi bi-chevron-double-down widgets-icon"></i>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="visualisation-widgets-wrapper hide-ani">
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                </div>
            </div>

            <!-- EMOTION -->
            <div class="game-section">

                <div class="detail-title-wrapper">
                    <header class="detail-title-text">
                        Reviews Emotion
                    </header>
                </div>
    
                <div class="visualisation-container">
                    <div class="visualisation-container-header">
                        <div class="visualisation-container-options-wrapper">
                            <select class="visualisation-select" id="emotion-select">
                                <option class="visualisation-select-option" value="emotion-all-time">All Time (By Year)</option>
                                <option class="visualisation-select-option" value="emotion-past-12-months">Past 12 Months</option>
                                <option class="visualisation-select-option" value="emotion-past-6-months">Past 6 Months</option>
                                <option class="visualisation-select-option" value="emotion-past-1-month">Past Month</option>
                                <option class="visualisation-select-option" value="emotion-past-2-weeks">Past 2 Weeks</option>
                                <option class="visualisation-select-option" value="emotion-past-1-week">Past 7 Days</option>
                            </select>
                        </div>
                        <div class="visualisation-container-header-detail-widget">
                            <div class="visualisation-container-header-detail-widget-left">
                                <b id="vis-prom-emotion-label">Prominent Emotion:</b> 
                            </div>
                            <div class="visualisation-container-header-detail-widget-right" id="emotion-prominent-info">
                            </div>
                        </div>
                    </div>
                    <div class="visualisation-legend-bar">
                        <div class="visualisation-legend-bar-main-section">
                            <!-- Sad Reviews Label -->
                            <div class="visualisation-legend-widget-wrapper sad-emotion-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #006ee6;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Sad Reviews
                                </div>
                            </div>

                            <!-- Fear Reviews Label -->
                            <div class="visualisation-legend-widget-wrapper fear-emotion-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #CC8899;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Fear Reviews
                                </div>
                            </div>

                            <!-- Anrgy Reviews Label -->
                            <div class="visualisation-legend-widget-wrapper angry-emotion-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #ff683b;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Anrgy Reviews
                                </div>
                            </div>

                            <!-- Happy Reviews Label -->
                            <div class="visualisation-legend-widget-wrapper happy-emotion-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #6c3;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Happy Reviews
                                </div>
                            </div>

                            <!-- Surprise Reviews Label -->
                            <div class="visualisation-legend-widget-wrapper surprise-emotion-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: #FFFF00;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Surprise Reviews
                                </div>
                            </div>

                        </div>

                        <!-- Extra information -->
                        <div class="visualisation-legend-bar-small-section">
                            <div class="visualisation-legend-bar-small-circle-wrapper">
                                <i class="bi bi-info-circle-fill visualisation-legend-bar-info-cirlce"></i>
                            </div>
                            <div class="absolute-anchor">
                                <div class="vis-info-box-wrapper hide-section">
                                    <div class="vis-info-box">
                                        <p class="vis-info-text" style="font-size: 13px;">
                                            The following graph shows the prominent emotions which were identified from reviews across collected from steam.
                                            <br>
                                            <br>
                                            The larger the an emotion the more it was identified in the reviews.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="visualisation-container-content" id="emotion-container-content"></div>
                </div>

                <div class="visualisation-widgets-drawer">
                    <div class="divider"></div>
                    <div class="widgets-draw-icon-wrapper">
                        <i class="bi bi-chevron-double-down widgets-icon"></i>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="visualisation-widgets-wrapper hide-ani">
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                </div>
            </div>

        </div>

        <div class="game-recent-review-wrapper" id="recent-reviews-section">

            {% if reviews %}

                {% for review in reviews %}

                    <div class="review-wrapper">

                        <div class="review-info-section">

                            <div class="review-info-sub-section">
                                <div class="review-info-sub-section-label">
                                    Review Rating:
                                </div>
                                <div class="review-info-sub-section-info">
                                    {% if review.voted_up %}
                                        <p class="positive-text">Positive</p> 
                                    {% else %}
                                        <p class="negative-text">Negative</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="section-divider"></div>

                            <div class="review-info-sub-section sentiment-label-section">
                                <div class="review-info-sub-section-label">
                                    Sentiment Score:
                                </div>
                                <div class="review-info-sub-section-info">
                                    {% if review.sentiment_polarity > 0 %}
                                        <p class="positive-text">{{ review.sentiment_polarity|floatformat:"3" }}</p>
                                    {% elif review.sentiment_polarity < 0 %}
                                        <p class="negative-text">{{ review.sentiment_polarity|floatformat:"3" }}</p>
                                    {% else %}
                                        <p class="neutral-text">{{ review.sentiment_polarity|floatformat:"3" }}</p>
                                    {% endif %}
                                    
                                </div>
                            </div>

                            <div class="review-info-sub-section emotion-label-section">
                                <div class="review-info-sub-section-label">
                                    Prominent Emotions:
                                </div>
                                <div class="review-info-sub-section-info">
                                    {% for emotion in review.emotion_prominent %}
                                        {% if emotion == 'Happy' %}
                                            {% if not forloop.last %}
                                                <p class="happy-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="happy-text"> {{ emotion }}</p>
                                            {% endif %}
                                        {% elif emotion == 'Angry' %}
                                            {% if not forloop.last %}
                                                <p class="angry-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="angry-text"> {{ emotion }}</p>
                                            {% endif %}
                                        {% elif emotion == 'Surprise' %}
                                            {% if not forloop.last %}
                                                <p class="surprise-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="surprise-text"> {{ emotion }} </p>
                                            {% endif %}
                                        {% elif emotion == 'Sad' %}
                                            {% if not forloop.last %}
                                                <p class="sad-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="sad-text"> {{ emotion }} </p>
                                            {% endif %}
                                        {% elif emotion == 'Fear' %}
                                            {% if not forloop.last %}
                                                <p class="fear-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="fear-text"> {{ emotion }} </p>
                                            {% endif %}
                                        {% else %}
                                            <p class="neutral-text">{{ emotion }}</p>
                                        {% endif %}

                                    {% endfor %}
                                </div>
                            </div>

                            <div class="section-divider"></div>

                            <div class="review-about-section">
                                <div class="review-about-label-section">
                                    Date Created:
                                </div>
                                <div class="review-about-content-section">
                                    {{ review.time_created }}
                                </div>
                            </div>

                        </div>

                        <div class="review-text-section">
                            <pre style="white-space: pre-wrap; text-align: justify;" class="review-text-pre">{{ review.review_text }}</pre>
                        </div>

                    </div>

                    
                {% endfor %}
            {% else %}

                <div class="no-reviews-wrapper">
                    <div class="no-reviews-wrapper-content">
                        <div class="no-reviews-content-area">
                            <header>Sorry, we could not find any reviews which mention this developer!</header>
                        </div>
                    </div>
                </div>

            {% endif %}

            <a class="more-reviews-button-wrapper" href="/games/{{ game.app_id }}/reviews/">
                Read All Reviews
            </a>

        </div>

        <div class="game-player-wrapper" id="players-section">
            <div class="game-section">

                <div class="detail-title-wrapper">
                    <header class="detail-title-text">
                        Player Count
                    </header>
                </div>
    
                <div class="visualisation-container">
                    <div class="visualisation-container-header">
                        <div class="visualisation-container-options-wrapper">
                            <select class="visualisation-select" id="player-select">
                                <option class="visualisation-select-option" value="player-all-time">All Time</option>
                                <option class="visualisation-select-option" value="player-past-1-month">Past Month</option>
                                <option class="visualisation-select-option" value="player-past-2-weeks">Past 2 Weeks</option>
                                <option class="visualisation-select-option" value="player-past-1-week">Past 7 Days</option>
                                <option class="visualisation-select-option" value="player-past-72-hours">Past 72 Hours</option>
                                <option class="visualisation-select-option" value="player-past-48-hours">Past 48 Hours</option>
                                <option class="visualisation-select-option" value="player-past-24-hours">Past 24 Hours</option>
                            </select>
                        </div>
                        <div class="visualisation-container-header-detail-widget">
                            <div class="visualisation-container-header-detail-widget-left">
                                <b>Peak Players:</b> 
                            </div>
                            <div class="visualisation-container-header-detail-widget-right">
                                Placeholder
                            </div>
                        </div>
                    </div>
                    <!-- Player Legend bar -->
                    <div class="visualisation-legend-bar">
                        <div class="visualisation-legend-bar-main-section">
                            <!-- Player Label -->
                            <div class="visualisation-legend-widget-wrapper player-widget">
                                <div class="visualisation-legend-widget-minor-section">
                                    <div class="visualisation-legend-widget-colour-circle" style="background-color: royalblue;"></div>
                                </div>
                                <div class="visualisation-legend-widget-major-section">
                                    Players
                                </div>
                            </div>
                        </div>

                        <!-- Extra information -->
                        <div class="visualisation-legend-bar-small-section">
                            <div class="visualisation-legend-bar-small-circle-wrapper">
                                <i class="bi bi-info-circle-fill visualisation-legend-bar-info-cirlce"></i>
                            </div>
                            <div class="absolute-anchor">
                                <div class="vis-info-box-wrapper hide-section">
                                    <div class="vis-info-box">
                                        <p class="vis-info-text" style="font-size: 13px;">
                                            The following graph shows number of players the game had at specific times
                                            <br>
                                            <br>
                                            The higher the line, the more players there where during this time.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PLAYER VIS MAIN -->
                    <div class="visualisation-container-content players-container-content" id="player-count-container-content">
                        <svg class="visualisation-svg" id="player-graph">
    
                        </svg>
                    </div>
                </div>

                <div class="visualisation-widgets-drawer">
                    <div class="divider"></div>
                    <div class="widgets-draw-icon-wrapper">
                        <i class="bi bi-chevron-double-down widgets-icon"></i>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="visualisation-widgets-wrapper hide-ani">
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- LOAD REVIEWS VISUALISATIONS -->
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-all-time-years.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-all-time-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-past-twelve-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-past-six-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-past-one-month.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-past-two-weeks.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-past-one-week.js' %}"></script>

    <!-- LOAD SENTIMENT VISUALISATIONS -->
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-all-time.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-past-twelve-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-past-six-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-past-one-month.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-past-two-weeks.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-past-one-week.js' %}"></script>

    <!-- LOAD EMOTION VISUALISATIONS -->
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-visualisation-helper.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-all-time.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-past-twelve-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-past-six-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-past-one-month.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-past-two-weeks.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-past-one-week.js' %}"></script>

    <!-- LOAD PLAYER COUNT VISUALISATIONS -->
    <script src="{% static 'home/javascript/visualisations/player/player-count-all-time.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-one-month.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-two-weeks.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-one-week.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-72-hours.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-48-hours.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-24-hours.js' %}"></script>

    <!-- MY JS -->
    <script src="{% static 'home/javascript/game-detail.js' %}"></script>

    <!-- GRAPH FUNCTIONALITY JS -->
    <script src="{% static 'home/javascript/game-detail-visualisations.js' %}"></script>

    <!-- ON PAGE LOAD JS -->
    <script src="{% static 'home/javascript/game-detail-on-load.js' %}"></script>

    <!-- ON PAGE RESIZE -->
    <script src="{% static 'home/javascript/game-detail-on-resize.js' %}"></script>

{% endblock %}
