{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'home/css/game-list.css' %}">

    <div class="block-wrapper">

        <div class="filter-block">

            <form action="" method="POST" class="filter-form" id="filter-form" onsubmit="on_form_submit()">
                {% csrf_token %}

                <div class="top-filter-section">
                    <div class="search-filter-wrapper">

                        <div class="search-bar-wrapper">
        
                            <input type="text" name="search" id="search-input" class="search-bar-input"></input>
        
                            <button type="submit" class="search-bar-button">
                                <i class="bi bi-search search-icon"></i>
                            </button>
        
                        </div>
        
                    </div>
        
                    <div class="more-filter-wrapper">
        
                        <div class="filter-dropdown-wrapper">
                            <i class="bi bi-caret-down-fill filter-icon" id="filter-dropdown-icon"></i>
                        </div>
        
                    </div>
                </div>

                <div class="filter-break hide-none"></div>

                <div class="bottom-filter hide">

                    <div class="bottom-filter-section" id="bottom-filter-section-1">

                        <!-- GENRES DROPDOWN -->
                        <div class="dropdown-wrapper" id="genres-dropdown-wrapper">
                            <input type="hidden" name="genres" value="" id="genres-input">
                            <header class="dropdown-label">Genres:</header>
                            <div class="dropdown-button" id="tag-dropdown-button">
                                <div class="dropdown-button-display"></div>
                                <div class="dropdown-button-arrow-wrapper">
                                    <i class="bi bi-caret-down-fill filter-icon" id="tag-dropdown-icon"></i>
                                </div>
                            </div>
                            <div class="dropdown-menu hide" id="genres-dropdown-menu">

                                <div class="dropdown-menu-item-wrapper hide-none">
                                    {% for descriptor in descriptors %}
                                        {% if descriptor.type == 'Genres' %}
                                            <div class="dropdown-menu-item" id="{{ descriptor.name }}">
                                                {{ descriptor.name }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>

                        <!-- TAGS DROPDOWN -->
                        <div class="dropdown-wrapper" id="tags-dropdown-wrapper">
                            <input type="hidden" name="tags" value="" id="tags-input">
                            <header class="dropdown-label">Tags:</header>
                            <div class="dropdown-button">
                                <div class="dropdown-button-display"></div>
                                <div class="dropdown-button-arrow-wrapper">
                                    <i class="bi bi-caret-down-fill filter-icon"></i>
                                </div>
                            </div>
                            <div class="dropdown-menu hide" id="tags-dropdown-menu">

                                <div class="dropdown-menu-item-wrapper hide-none">
                                    {% for descriptor in descriptors %}
                                        {% if descriptor.type == 'Tags' %}
                                            <div class="dropdown-menu-item" id="{{ descriptor.name }}">
                                                {{ descriptor.name }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>

                        <!-- CATEGORIES DROPDOWN -->
                        <div class="dropdown-wrapper" id="categories-dropdown-wrapper">
                            <input type="hidden" name="categories" value="" id="categories-input">
                            <header class="dropdown-label">Categories:</header>
                            <div class="dropdown-button">
                                <div class="dropdown-button-display"></div>
                                <div class="dropdown-button-arrow-wrapper">
                                    <i class="bi bi-caret-down-fill filter-icon"></i>
                                </div>
                            </div>
                            <div class="dropdown-menu hide" id="categories-dropdown-wrapper">
                                <div class="dropdown-menu-item-wrapper hide-none">
                                    {% for descriptor in descriptors %}
                                        {% if descriptor.type == 'Categories' %}
                                            <div class="dropdown-menu-item" id="{{ descriptor.name }}">
                                                {{ descriptor.name }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="bottom-filter-section" id="bottom-filter-section-2">
                        
                    </div>

                    <div class="bottom-filter-section" id="bottom-filter-section-3">
                        
                    </div>

                </div>

            </form>

        </div>

        <div class="content-block">

        </div>

    </div>

    <!-- MY JS -->
    <script src="{% static 'home/javascript/game-list.js' %}"></script>

{% endblock %}
