{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'home/css/game-list.css' %}">

    <script>
        const searchtextParamConst = '{{ search_text }}'
    </script>

    <div class="block-wrapper">

        <div class="filter-block">

            <form action="/games/" method="POST" class="filter-form" id="filter-form" onsubmit="on_form_submit()">
                {% csrf_token %}

                <div class="top-filter-section">

                    <div class="clear-filters-wrapper">
                        <button class="filter-clear-wrapper" type="button" title="clear all filters">
                            <i class="bi bi-x-lg clear-icon"></i>
                        </button>
                    </div>

                    <div class="search-filter-wrapper">

                        <div class="search-bar-wrapper">
        
                            <input type="text" name="search" id="search-input" class="search-bar-input"></input>
        
                            <button type="submit" class="search-bar-button" tabindex="-1">
                                <i class="bi bi-search search-icon"></i>
                            </button>
        
                        </div>
        
                    </div>
        
                    <div class="more-filter-wrapper">
        
                        <button class="filter-dropdown-wrapper" type="button">
                            <i class="bi bi-caret-down-fill filter-icon" id="filter-dropdown-icon"></i>
                        </button>
        
                    </div>
                </div>

                {% if search_text %}
                    <div class="search-input-text-display-wrapper">
                        <div class="search-input-text-display-widget">
                            <p class="search-input-text-display">{{ search_text }}</p>
                            <i class="bi bi-x-lg clear-search-icon"></i>
                        </div>
                    </div>
                {% endif %}

                <div class="filter-break hide-none"></div>

                <div class="bottom-filter hide">

                    <div class="bottom-filter-section" id="bottom-filter-section-1">

                        <!-- GENRES DROPDOWN -->
                        <div class="dropdown-wrapper" id="genres-dropdown-wrapper">
                            <input type="hidden" name="genres" value="" id="genres-input">
                            <header class="dropdown-label">Genres:</header>
                            <button class="dropdown-button" id="tag-dropdown-button" type="button" tabindex="-1">
                                <div class="dropdown-button-display"></div>
                                <div class="dropdown-button-arrow-wrapper">
                                    <i class="bi bi-caret-down-fill filter-icon" id="tag-dropdown-icon"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu hide" id="genres-dropdown-menu">

                                <div class="dropdown-menu-item-wrapper hide-none">
                                    {% for descriptor in descriptors %}
                                        {% if descriptor.type == 'Genres' %}
                                            <div class="dropdown-menu-item" id="genre_{{ descriptor.name }}">
                                                {{ descriptor.name }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>

                        <!-- TAGS DROPDOWN -->
                        <div class="dropdown-wrapper" id="tags-dropdown-wrapper">
                            <input type="hidden" name="tags" value="" id="tags-input">
                            <header class="dropdown-label">Tags:</header>
                            <button class="dropdown-button" type="button"  tabindex="-1">
                                <div class="dropdown-button-display"></div>
                                <div class="dropdown-button-arrow-wrapper">
                                    <i class="bi bi-caret-down-fill filter-icon"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu hide" id="tags-dropdown-menu">

                                <div class="dropdown-menu-item-wrapper hide-none">
                                    {% for descriptor in descriptors %}
                                        {% if descriptor.type == 'Tags' %}
                                            <div class="dropdown-menu-item" id="tag_{{ descriptor.name }}">
                                                {{ descriptor.name }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            </div>
                        </div>

                        <!-- CATEGORIES DROPDOWN -->
                        <div class="dropdown-wrapper" id="categories-dropdown-wrapper">
                            <input type="hidden" name="categories" value="" id="categories-input">
                            <header class="dropdown-label">Categories:</header>
                            <button class="dropdown-button" type="button"  tabindex="-1">
                                <div class="dropdown-button-display"></div>
                                <div class="dropdown-button-arrow-wrapper">
                                    <i class="bi bi-caret-down-fill filter-icon"></i>
                                </div>
                            </button>
                            <div class="dropdown-menu hide" id="categories-dropdown-wrapper">
                                <div class="dropdown-menu-item-wrapper hide-none">
                                    {% for descriptor in descriptors %}
                                        {% if descriptor.type == 'Categories' %}
                                            <div class="dropdown-menu-item" id="category_{{ descriptor.name }}">
                                                {{ descriptor.name }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="bottom-filter-section-button-wrapper">
                        <button class="bottom-filter-section-button" type="button" id="bottom-button-clear">
                            Clear
                        </button>
                        <button class="bottom-filter-section-button button-colour" type="submit">
                            Search
                        </button>
                    </div>

                </div>

            </form>

        </div>

        <div class="content-block">

            <div class="game-list-wrapper">

                    <div class="games-list-section-title-wrapper">
                        <header class="games-list-section-title-text">Games List</header>
                    </div>

                    {% for game in games %}

                        <a class="game-widget-wrapper" id="game-app-{{ game.app_id }}" href="/games/{{game.app_id}}" tabindex="0">
                            <div class="game-widget-image-wrapper">
                                <img src="{{ game.header_image }}" alt="" class="game-widget-image">
                            </div>
        
                            <div class="game-info-widget-section">
        
                                <div class="game-info-title-section">
                                    <header class="game-info-title-text">{{ game.name }}</header>
                                </div>
        
                                <div class="game-info-tags-section">
                                    {% for tag in game.tags %}
                                        {% if forloop.counter < 5 %}
                                            <div class="game-tag-block">
                                                {{ tag }}         
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
        
                            </div>
        
                        </a>

                    {% endfor %}

                    <div class="page-selector">
                        <!-- PREVIOUS -->
                        <div class="previous-selector-wrapper">
                            {% if games.has_previous %}
                                {% if pass_search %}
                                    <a class="avaliable" href="?search_text={{ search_text }}&genres={{ genres }}&tags={{ tags }}&categories={{ categories }}&page={{ games.previous_page_number }}">Previous</a>
                                {% else %}
                                    <a class="avaliable" href="?page={{ games.previous_page_number }}">Previous</a>
                                {% endif %}
                            {% else %}
                                <span class="not-avaliable">Previous</span>
                            {% endif %}
                        </div>
                        <!-- PAGE NUMBERS -->
                        <div class="page-number-selector-wrapper">
                            {% if games %}
                                {{ games.number }} of {{ games.paginator.num_pages }}
                            {% endif %}
                        </div>
                        <!-- NEXT -->
                        <div class="next-selector-wrapper">
                            {% if games.has_next %}
                                {% if pass_search %}
                                    <a class="avaliable" href="?search_text={{ search_text }}&genres={{ genres }}&tags={{ tags }}&categories={{ categories }}&page={{ games.next_page_number }}">Next</a>
                                {% else %}
                                    <a class="avaliable" href="?page={{ games.next_page_number }}">Next</a>
                                {% endif %}
                            {% else %}
                                <span class="not-avaliable">Next</span>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- MY JS -->
    <script src="{% static 'home/javascript/game-list.js' %}"></script>
    <script src="{% static 'home/javascript/game-list-filter.js' %}"></script>

{% endblock %}
