{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/game_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/content.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/graphs.css' %}">

    <script defer>
        const game_id = '{{games.app_id}}'
        //Draws graphs on page load
        $(document).ready(function() {
            sentiment_graph()
        });

        //Redraws graph after dealy when page is resized
        let resizeTimer;
        $(window).resize(function () { 
            clearTimeout(resizeTimer)
            resizeTimer = setTimeout(function() {
                sentiment_graph()
                console.log("RESIZE")
            }, 100)
        });
    </script>

    <div class="content-block">

        <div class="game-detail main-colour text-colour">
            <div class="row">
                <div class="col-6">
                    <img id="banner-image" src="{{ games.header_image }}">
                </div>
                <div class="col-6">
                    <table>
                        <tbody>
                            <tr>
                                <td>Title</td>
                                <td>{{ games.name }}</td>
                            </tr>
                            <tr>
                                <td>Game ID</td>
                                <td>{{ games.app_id }}</td>
                            </tr>
                            <tr>
                                <td>Release Date</td>
                                <td>{{ games.release_date }}</td>
                            </tr>
                            <tr>
                                <td>Developers</td>
                                <td>
                                    {% for dev in games.developer %}
                                        {% if not forloop.last %}
                                            {{ dev }},
                                        {% else %}
                                            {{ dev }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Publishers</td>
                                <td>
                                    {% for pub in games.publisher %}
                                        {% if not forloop.last %}
                                            {{ pub }},
                                        {% else %}
                                            {{ pub }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="min-height: 180px;">
                <div class="col-6 description">
                    <p id="description" style="padding-top: 20px;">{{ games.description }}</p>
                </div>
                <div class="col-6">
                    <div class="row" style="padding: 15px;">
                        <div class="col-6 small-info-box" style="height: 100%; width: 45%; margin-left: auto; margin-right: auto;">
                            <p class="text-colour">Reviews Percentage</p>
                        </div>
                        <div class="col-6 small-info-box" style="height: 100%; width: 45%; margin-left: auto; margin-right: auto;">
                            <p class="text-colour">Current Players Count</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 info-box" style="height: 100%; width: 90%; margin-left: auto; margin-right: auto;">
                            <div style="display: flex; flex-wrap: wrap;">
                                {% for cat in games.categories %}
                                    {% if not forloop.last %}
                                        {{ cat.description }},
                                    {% else %}
                                        {{ cat.description }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box main-colour">
            <div class="box-head">
                <h3 class="box-title text-colour">Player Count</h3>
            </div>
            <div class="box-body box-text text-colour" id="sentiment-box" style="display: flex; justify-content:center">
            </div>
        </div>

        <div class="box main-colour">
            <div class="box-head">
                <h3 class="box-title text-colour">Game Reviews</h3>
            </div>
            <div class="box-body box-text text-colour" id="sentiment-box" style="display: flex; justify-content:center">
            </div>
        </div>

        <div class="box main-colour">
            <div class="box-head">
                <h3 class="box-title text-colour">Reviews Sentiment</h3>
            </div>
            <div class="box-body box-text text-colour" id="sentiment-box">
                <svg id="sentiment-graph" style="width: 100%;" class="text-colour">
                </svg>
            </div>
        </div>

        <div class="box main-colour">
            <div class="box-head">
                <h3 class="box-title text-colour">Reviews Emotion</h3>
            </div>
            <div class="box-body box-text text-colour" id="emotion-box" style="height: 600px;">
            </div>
        </div>

    </div>

    <!-- https://www.pulsecarshalton.co.uk/wp-content/uploads/2016/08/jk-placeholder-image.jpg -->

    <!-- MY JS -->

    <!-- LOAD DATA -->
    <script src="{% static 'home/javascript/get_review_data.js' %}" defer></script>

    <!-- DRAW GRAPHS -->
    <script src="{% static 'home/javascript/reviews_sentiment_bars.js' %}" defer></script>
    <script src="{% static 'home/javascript/reviews_emotion_pie.js' %}" defer></script>


    <!-- <h1>{{ games.name }}</h1>

    <h1>{{ games.description }}</h1> -->

{% endblock %}
