{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'home/css/game-detail.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/graphs.css' %}">

    <!-- D3 -->
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8" defer></script>

    <script defer>
        const game_id = '{{ game.app_id }}'
    </script>

    <div class="block-wrapper">

        <div class="detail-block-wrapper">

            <div class="detail-title-wrapper">
                <header class="detail-title-text">
                    {{ game.name }}
                </header>
            </div>

            <div class="detail-section-top">
                <div class="detail-image-wrapper">
                    <img class="detail-image" src="{{ game.header_image }}" alt="">
                </div>

                <div class="detail-info-section">
                    <div class="detail-description-title-wrapper">
                        <header class="detail-description-title-text">Description</header>
                    </div>
                    <div class="detail-description-text-wrapper">
                        {{ game.description }}
                    </div>
                    <div class="detail-about-title-wrapper">
                        <header class="detail-about-title-text">About</header>
                    </div>
                    <div class="detail-about-content-wrapper">
                        <div class="detail-about-content-left">
                            <div class="detail-about-content-left-section">
                                <b>Price:</b>
                            </div>
                            <div class="detail-about-content-left-section">
                                <b>Release Date:</b>
                            </div>
                            <div class="detail-about-content-left-section">
                                <b>Developer:</b>
                            </div>
                            <div class="detail-about-content-left-section">
                                <b>Publisher:</b>
                            </div>
                        </div>
                        <div class="detail-about-content-right">
                            <div class="detail-about-content-right-section">
                                Placeholder
                            </div>
                            <div class="detail-about-content-right-section">
                                {{ game.release_date }}
                            </div>
                            <div class="detail-about-content-right-section">
                                {% for developer in game.developer %}
                                    {{ developer }}
                                {% endfor %}
                            </div>
                            <div class="detail-about-content-right-section">
                                {% for publisher in game.publisher %}
                                    {{ publisher }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="detail-section-bottom">

                <div class="descriptors-section-wrapper">
                    <div class="descriptors-label-wrapper">
                        <b>Genre:</b>
                    </div>
                    <div class="descriptors-container-wrapper">
                        {% for genre in game.genres %}
                            <div class="descriptors-widget">
                                {{ genre }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="descriptors-label-wrapper">
                        <b>Tags:</b>
                    </div>
                    <div class="descriptors-container-wrapper">
                        {% for tag in game.tags %}
                            {% if forloop.counter < 11 %}
                                <div class="descriptors-widget">
                                    {{ tag }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="descriptors-label-wrapper">
                        <b>Categories:</b>
                    </div>
                    <div class="descriptors-container-wrapper">
                        {% for category in game.categories %}
                            {% for descriptor in descriptors %}
                                {% if descriptor.name == category %}
                                    {% if descriptor.type == 'Categories' %}
                                        <div class="category-widget" title="{{ descriptor.name }}">
                                            <i class="bi {{ descriptor.symbol }} category-widget-image"></i>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>

                <div class="widgets-section-wrapper">
                    <div class="widget-section">
                        <div class="widget-section-label">
                            <label class="widget-section-label-text">Player Count</label>
                        </div>
                        <div class="widget-section-content">
                            <div class="widget-section-content-left">
                                LEFT
                            </div>
                            <div class="widget-section-content-right">
                                RIGHT
                                {{ game_stats }}
                            </div>
                        </div>
                    </div>
                    <div class="widget-section">
                        
                    </div>
                    <div class="widget-section">
                        
                    </div>
                    <div class="widget-section">
                        
                    </div>
                </div>

            </div>

            <div class="detail-button-section">
                <form action="" method="POST" id="detail-button-form">
                    {% csrf_token %}
                    <input type="hidden" name="button-form-input" id="button-form-input" value>
                    <button class="detail-button" id="follow-game-button" type="button" onclick="FollowButton()">
                        Follow
                    </button>
                    <button class="detail-button" id="compare-game-button" type="button">
                        Compare
                    </button>
                </form>
            </div>

        </div>

        <div class="game-content-selector">
            <div class="game-content-selector-widget content-selected" id="review-selector-button" tabindex="0">
                <b>Reviews Stats</b> 
            </div>
            <div class="game-content-selector-widget" id="recent-reviews-selector-button" tabindex="0">
                <b>Recent Reviews</b> 
            </div>
            <div class="game-content-selector-widget" id="players-selector-button" tabindex="0">
                <b>Players</b> 
            </div>
        </div>

        <div class="game-review-wrapper" id="reviews-section">
            <div class="game-section">

                <div class="detail-title-wrapper">
                    <header class="detail-title-text">
                        Reviews
                    </header>
                </div>
    
                <div class="visualisation-container">
                    <div class="visualisation-container-header">
                        <div class="visualisation-container-options-wrapper">
                            <select class="visualisation-select" id="reviews-select">
                                <option class="visualisation-select-option" value="review-all-time">All Time (By Year)</option>
                                <option class="visualisation-select-option" value="review-past-12-months">Past 12 Months</option>
                                <option class="visualisation-select-option" value="review-past-6-months">Past 6 Months</option>
                                <option class="visualisation-select-option" value="review-past-1-month">Past Month</option>
                                <option class="visualisation-select-option" value="review-past-2-weeks">Past 2 Weeks</option>
                                <option class="visualisation-select-option" value="review-past-1-week">Past 7 Days</option>
                            </select>
                        </div>
                        <div class="visualisation-container-header-detail-widget">
                            <div class="visualisation-container-header-detail-widget-left">
                                <b>Total Reviews:</b> 
                            </div>
                            <div class="visualisation-container-header-detail-widget-right" id="reviews-total-info">
                                {{ total_reviews }}
                            </div>
                        </div>
                    </div>
                    <!-- REVIEWS GRAPH -->
                    <div class="visualisation-container-content reviews-container-content" id="reviews-container-content">
                        <svg class="visualisation-svg" id="reviews-graph">
                            TEST
                        </svg>
                    </div>
                </div>

                <div class="visualisation-widgets-drawer">
                    <div class="divider"></div>
                    <div class="widgets-draw-icon-wrapper">
                        <i class="bi bi-chevron-double-down widgets-icon"></i>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="visualisation-widgets-wrapper hide-ani">
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                </div>
            </div>

            <div class="game-section">

                <div class="detail-title-wrapper">
                    <header class="detail-title-text">
                        Reviews Sentiment
                    </header>
                </div>
    
                <div class="visualisation-container">
                    <div class="visualisation-container-header">
                        <div class="visualisation-container-options-wrapper">
                            <select class="visualisation-select" id="sentiment-select">
                                <option class="visualisation-select-option" value="sentiment-all-time">All Time</option>
                                <option class="visualisation-select-option" value="sentiment-past-12-months">Past 12 Months</option>
                                <option class="visualisation-select-option" value="sentiment-past-6-months">Past 6 Months</option>
                                <option class="visualisation-select-option" value="sentiment-past-1-month">Past Month</option>
                                <option class="visualisation-select-option" value="sentiment-past-2-weeks">Past 2 Weeks</option>
                                <option class="visualisation-select-option" value="sentiment-past-1-week">Past 7 Days</option>
                            </select>
                        </div>
                        <div class="visualisation-container-header-detail-widget">
                            <div class="visualisation-container-header-detail-widget-left">
                                <b>Sentiment Value:</b> 
                            </div>
                            <div class="visualisation-container-header-detail-widget-right" id="sentiment-value-info">
                                {{ sentiment_score }}
                            </div>
                        </div>
                    </div>
                    <div class="visualisation-container-content" id="sentiment-container-content">
                        <svg class="visualisation-svg" id="sentiment-graph">
    
                        </svg>
                    </div>
                </div>

                <div class="visualisation-widgets-drawer">
                    <div class="divider"></div>
                    <div class="widgets-draw-icon-wrapper">
                        <i class="bi bi-chevron-double-down widgets-icon"></i>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="visualisation-widgets-wrapper hide-ani">
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                </div>
            </div>

            <div class="game-section">

                <div class="detail-title-wrapper">
                    <header class="detail-title-text">
                        Reviews Emotion
                    </header>
                </div>
    
                <div class="visualisation-container">
                    <div class="visualisation-container-header">
                        <div class="visualisation-container-options-wrapper">
                            <select class="visualisation-select" id="emotion-select">
                                <option class="visualisation-select-option" value="emotion-all-time">All Time (By Year)</option>
                                <option class="visualisation-select-option" value="emotion-past-12-months">Past 12 Months</option>
                                <option class="visualisation-select-option" value="emotion-past-6-months">Past 6 Months</option>
                                <option class="visualisation-select-option" value="emotion-past-1-month">Past Month</option>
                                <option class="visualisation-select-option" value="emotion-past-2-weeks">Past 2 Weeks</option>
                                <option class="visualisation-select-option" value="emotion-past-1-week">Past 7 Days</option>
                            </select>
                        </div>
                        <div class="visualisation-container-header-detail-widget">
                            <div class="visualisation-container-header-detail-widget-left">
                                <b>Prominent Emotion:</b> 
                            </div>
                            <div class="visualisation-container-header-detail-widget-right">
                                Placeholder
                            </div>
                        </div>
                    </div>
                    <div class="visualisation-container-content" id="emotion-container-content"></div>
                </div>

                <div class="visualisation-widgets-drawer">
                    <div class="divider"></div>
                    <div class="widgets-draw-icon-wrapper">
                        <i class="bi bi-chevron-double-down widgets-icon"></i>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="visualisation-widgets-wrapper hide-ani">
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                </div>
            </div>

        </div>

        <div class="game-recent-review-wrapper" id="recent-reviews-section">

            {% if reviews %}

                {% for review in reviews %}

                    <div class="review-wrapper">

                        <div class="review-info-section">

                            <div class="review-info-sub-section">
                                <div class="review-info-sub-section-label">
                                    Review Rating:
                                </div>
                                <div class="review-info-sub-section-info">
                                    {% if review.voted_up %}
                                        <p class="positive-text">Positive</p> 
                                    {% else %}
                                        <p class="negative-text">Negative</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="section-divider"></div>

                            <div class="review-info-sub-section sentiment-label-section">
                                <div class="review-info-sub-section-label">
                                    Sentiment Score:
                                </div>
                                <div class="review-info-sub-section-info">
                                    {% if review.sentiment_polarity > 0 %}
                                        <p class="positive-text">{{ review.sentiment_polarity|floatformat:"3" }}</p>
                                    {% elif review.sentiment_polarity < 0 %}
                                        <p class="negative-text">{{ review.sentiment_polarity|floatformat:"3" }}</p>
                                    {% else %}
                                        <p class="neutral-text">{{ review.sentiment_polarity|floatformat:"3" }}</p>
                                    {% endif %}
                                    
                                </div>
                            </div>

                            <div class="review-info-sub-section emotion-label-section">
                                <div class="review-info-sub-section-label">
                                    Prominent Emotions:
                                </div>
                                <div class="review-info-sub-section-info">
                                    {% for emotion in review.emotion_prominent %}
                                        {% if emotion == 'Happy' %}
                                            {% if not forloop.last %}
                                                <p class="happy-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="happy-text"> {{ emotion }}</p>
                                            {% endif %}
                                        {% elif emotion == 'Angry' %}
                                            {% if not forloop.last %}
                                                <p class="angry-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="angry-text"> {{ emotion }}</p>
                                            {% endif %}
                                        {% elif emotion == 'Surprise' %}
                                            {% if not forloop.last %}
                                                <p class="surprise-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="surprise-text"> {{ emotion }} </p>
                                            {% endif %}
                                        {% elif emotion == 'Sad' %}
                                            {% if not forloop.last %}
                                                <p class="sad-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="sad-text"> {{ emotion }} </p>
                                            {% endif %}
                                        {% elif emotion == 'Fear' %}
                                            {% if not forloop.last %}
                                                <p class="fear-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="fear-text"> {{ emotion }} </p>
                                            {% endif %}
                                        {% else %}
                                            <p class="neutral-text">{{ emotion }}</p>
                                        {% endif %}

                                    {% endfor %}
                                </div>
                            </div>

                            <div class="section-divider"></div>

                            <div class="review-about-section">
                                <div class="review-about-label-section">
                                    Date Created:
                                </div>
                                <div class="review-about-content-section">
                                    {{ review.time_created }}
                                </div>
                            </div>

                        </div>

                        <div class="review-text-section">
                            <pre style="white-space: pre-wrap; text-align: justify;" class="review-text-pre">{{ review.review_text }}</pre>
                        </div>

                    </div>

                    
                {% endfor %}
            {% else %}

                <div class="no-reviews-wrapper">
                    <div class="no-reviews-wrapper-content">
                        <div class="no-reviews-content-area">
                            <header>Sorry, we could not find any reviews which mention this developer!</header>
                        </div>
                    </div>
                </div>

            {% endif %}

            <a class="more-reviews-button-wrapper" href="/games/{{ game.app_id }}/reviews/">
                Read All Reviews
            </a>

        </div>

        <div class="game-player-wrapper" id="players-section">
            <div class="game-section">

                <div class="detail-title-wrapper">
                    <header class="detail-title-text">
                        Player Count
                    </header>
                </div>
    
                <div class="visualisation-container">
                    <div class="visualisation-container-header">
                        <div class="visualisation-container-options-wrapper">
                            <select class="visualisation-select" id="player-select">
                                <option class="visualisation-select-option" value="player-all-time">All Time</option>
                                <option class="visualisation-select-option" value="player-past-1-month">Past Month</option>
                                <option class="visualisation-select-option" value="player-past-2-weeks">Past 2 Weeks</option>
                                <option class="visualisation-select-option" value="player-past-1-week">Past 7 Days</option>
                                <option class="visualisation-select-option" value="player-past-72-hours">Past 72 Hours</option>
                                <option class="visualisation-select-option" value="player-past-48-hours">Past 48 Hours</option>
                                <option class="visualisation-select-option" value="player-past-24-hours">Past 24 Hours</option>
                            </select>
                        </div>
                        <div class="visualisation-container-header-detail-widget">
                            <div class="visualisation-container-header-detail-widget-left">
                                <b>Total Reviews:</b> 
                            </div>
                            <div class="visualisation-container-header-detail-widget-right">
                                Placeholder
                            </div>
                        </div>
                    </div>
                    <div class="visualisation-container-content players-container-content" id="player-count-container-content">
                        <svg class="visualisation-svg" id="player-graph">
    
                        </svg>
                    </div>
                </div>

                <div class="visualisation-widgets-drawer">
                    <div class="divider"></div>
                    <div class="widgets-draw-icon-wrapper">
                        <i class="bi bi-chevron-double-down widgets-icon"></i>
                    </div>
                    <div class="divider"></div>
                </div>

                <div class="visualisation-widgets-wrapper hide-ani">
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                    <div class="visualisation-widgets-container"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- LOAD REVIEWS VISUALISATIONS -->
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-all-time-years.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-all-time-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-past-twelve-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-past-six-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-past-one-month.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-past-two-weeks.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/reviews/reviews-past-one-week.js' %}"></script>

    <!-- LOAD SENTIMENT VISUALISATIONS -->
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-all-time.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-past-twelve-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-past-six-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-past-one-month.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-past-two-weeks.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/sentiment/sentiment-past-one-week.js' %}"></script>

    <!-- LOAD EMOTION VISUALISATIONS -->
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-visualisation-helper.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-all-time.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-past-twelve-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-past-six-months.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-past-one-month.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-past-two-weeks.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/emotion/emotion-past-one-week.js' %}"></script>

    <!-- LOAD PLAYER COUNT VISUALISATIONS -->
    <script src="{% static 'home/javascript/visualisations/player/player-count-all-time.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-one-month.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-two-weeks.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-one-week.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-72-hours.js' %}"></script>
    <script src="{% static 'home/javascript/visualisations/player/player-count-past-24-hours.js' %}"></script>

    <!-- MY JS -->
    <script src="{% static 'home/javascript/game-detail.js' %}"></script>

    <!-- GRAPH FUNCTIONALITY JS -->
    <script src="{% static 'home/javascript/game-detail-visualisations.js' %}"></script>

    <!-- ON PAGE LOAD JS -->
    <script src="{% static 'home/javascript/game-detail-on-load.js' %}"></script>

    <!-- ON PAGE RESIZE -->
    <script src="{% static 'home/javascript/game-detail-on-resize.js' %}"></script>

{% endblock %}
