{% extends "home/old_base.html" %}
{% load static %}

{% block content %}

<!-- My CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'home/css/game_list.css' %}">

<div class="content-block">

    <div class="game-block-pannel main-colour">
    </div>

    {% for game in games %}
    <a class="game-block main-colour text-colour" href="{% url 'game-detail' game.app_id %}">
        <img id="image" src="{{ game.header_image }}">
        <h3> {{ game.name }} </h3>
    </a>
    {% endfor %}

</div>



{% endblock %}
