{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/test.css' %}">

    <div class="content-block">

        <div class="row">
            <div class="col-lg-6 col-xl-9 left">A-1</div>
            <div class="col-lg-6 col-xl-3 right pull-md-right">B-1</div>
            <div class="col-lg-6 col-xl-9 left">A-2</div>
            <div class="col-lg-6 col-xl-3 right pull-md-right">B-2</div>
            <div class="col-lg-6 col-xl-9 left">A-3</div>
            <div class="col-lg-6 col-xl-3 right pull-md-right">B-3</div>
        </div>

    </div>

    <script src="{% static 'home/javascript/test.js' %}" defer></script>

    {% for test in tests %}
    <p style="color: white;">{{test.categories}}</P>
    {% for t in test.categories.categories %}
      <p style="color: white;">{{t.description}}</p>
    {% endfor %}
  {% endfor %}

{% endblock %}