{% extends "home/base.html" %}
{% load static %}

{% block content %}


    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'developer/css/developer-detail.css' %}">

    <!-- MY JS -->
    <script src="{% static 'developer/javascript/developer-detail.js' %}"></script>

    <div class="block-wrapper">

        <div class="developer-detail-wrapper">

            <div class="developer-detail-title-wrapper">
                <header class="developer-detail-title-text">
                    {{ developer.name }}
                </header>
            </div>

        </div>

        <div class="developer-content-selector-wrapper">
            <button class="developer-content-selector-button-wrapper">
                <b>Games List</b>
            </button>
            <button class="developer-content-selector-button-wrapper">
                <b>Developer Reviews</b>
            </button>
        </div>

        <div class="developer-games-list-section-wrapper">

            <div class="developer-games-list-section-title-wrapper">
                <header class="developer-games-list-section-title-text">Games List</header>
            </div>

            {% for game in games %}

                <div class="developer-game-widget-wrapper" id="game-app-{{ game.app_id }}" tabindex="0">
                    <div class="developer-game-widget-image-wrapper">
                        <img src="{{ game.header_image }}" alt="" class="developer-game-widget-image">
                    </div>

                    <div class="developer-game-info-widget-section">

                        <div class="developer-game-info-title-section">
                            <header class="developer-game-info-title-text">{{ game.name }}</header>
                        </div>

                        <div class="developer-game-info-tags-section">
                            {% for tag in game.tags %}
                                {% if forloop.counter < 5 %}
                                    <div class="game-tag-block">
                                        {{ tag }}         
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>

                </div>

            {% endfor %}
        </div>
        
    </div>

{% endblock %}
