{% extends "home/base.html" %}
{% load static %}

{% block content %}


    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'developer/css/developer-detail.css' %}">

    <!-- MY JS -->
    <script src="{% static 'developer/javascript/developer-detail.js' %}"></script>

    <div class="block-wrapper">

        <div class="developer-detail-wrapper">

            <div class="developer-detail-title-wrapper">
                <header class="developer-detail-title-text">
                    {{ developer.name }}
                </header>
            </div>

        </div>

        <div class="developer-content-selector-wrapper">
            <button class="developer-content-selector-button-wrapper selector-button selected-button" id="developer-game-list-button">
                <b>Games List</b>
            </button>
            <button class="developer-content-selector-button-wrapper selector-button" id="developer-reviews-about-button">
                <b>Developer Reviews</b>
            </button>
        </div>

        <div class="developer-games-list-section-wrapper developer-section">

            <div class="developer-games-list-section-title-wrapper">
                <header class="developer-games-list-section-title-text">Games List</header>
            </div>

            {% for game in games %}

                <a class="developer-game-widget-wrapper" id="game-app-{{ game.app_id }}" href="/games/{{game.app_id}}" tabindex="0">
                    <div class="developer-game-widget-image-wrapper">
                        <img src="{{ game.header_image }}" alt="" class="developer-game-widget-image">
                    </div>

                    <div class="developer-game-info-widget-section">

                        <div class="developer-game-info-title-section">
                            <header class="developer-game-info-title-text">{{ game.name }}</header>
                        </div>

                        <div class="developer-game-info-tags-section">
                            {% for tag in game.tags %}
                                {% if forloop.counter < 5 %}
                                    <div class="game-tag-block">
                                        {{ tag }}         
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>

                </a>

            {% endfor %}
        </div>

        <div class="developer-reviews-about-section-wrapper developer-section hide-section">

            {% if reviews %}

                {% for review in reviews %}

                    <div class="review-wrapper">

                        <div class="review-info-section">

                            <div class="review-info-sub-section">
                                <div class="review-info-sub-section-label">
                                    Review Rating:
                                </div>
                                <div class="review-info-sub-section-info">
                                    {% if review.voted_up %}
                                        <p class="positive-text">Positive</p> 
                                    {% else %}
                                        <p class="negative-text">Negative</p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="section-divider"></div>

                            <div class="review-info-sub-section sentiment-label-section">
                                <div class="review-info-sub-section-label">
                                    Sentiment Score:
                                </div>
                                <div class="review-info-sub-section-info">
                                    {% if review.sentiment_polarity > 0 %}
                                        <p class="positive-text">{{ review.sentiment_polarity|floatformat:"3" }}</p>
                                    {% elif review.sentiment_polarity < 0 %}
                                        <p class="negative-text">{{ review.sentiment_polarity|floatformat:"3" }}</p>
                                    {% else %}
                                        <p class="neutral-text">{{ review.sentiment_polarity|floatformat:"3" }}</p>
                                    {% endif %}
                                    
                                </div>
                            </div>

                            <div class="section-divider"></div>

                            <div class="review-info-sub-section emotion-label-section">
                                <div class="review-info-sub-section-label">
                                    Prominent Emotions:
                                </div>
                                <div class="review-info-sub-section-info">
                                    {% for emotion in review.emotion_prominent %}
                                        {% if emotion == 'Happy' %}
                                            {% if not forloop.last %}
                                                <p class="happy-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="happy-text"> {{ emotion }}</p>
                                            {% endif %}
                                        {% elif emotion == 'Angry' %}
                                            {% if not forloop.last %}
                                                <p class="angry-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="angry-text"> {{ emotion }}</p>
                                            {% endif %}
                                        {% elif emotion == 'Surprise' %}
                                            {% if not forloop.last %}
                                                <p class="surprise-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="surprise-text"> {{ emotion }} </p>
                                            {% endif %}
                                        {% elif emotion == 'Sad' %}
                                            {% if not forloop.last %}
                                                <p class="sad-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="sad-text"> {{ emotion }} </p>
                                            {% endif %}
                                        {% elif emotion == 'Fear' %}
                                            {% if not forloop.last %}
                                                <p class="fear-text"> {{ emotion }}, </p>
                                            {% else %}
                                                <p class="fear-text"> {{ emotion }} </p>
                                            {% endif %}
                                        {% else %}
                                            <p class="neutral-text">{{ emotion }}</p>
                                        {% endif %}

                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                        <div class="review-text-section">
                            <pre style="white-space: pre-wrap; text-align: justify;" class="review-text-pre">{{ review.review_text }}</pre>
                        </div>

                    </div>

                    
                {% endfor %}
            {% else %}

                <div class="no-reviews-wrapper">
                    <div class="no-reviews-wrapper-content">
                        <div class="no-reviews-content-area">
                            <header>Sorry, we could not find any reviews which mention this developer!</header>
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>
        
    </div>

{% endblock %}
