.main-colour {
    background-color: #272c30;
}

.secondary-colour {
    background-color: #363c41;
}

.text-colour {
    color: #bec5cb;
}

.content-wrapper {
    margin-top: 55px;
    margin-left: 230px;
    min-height: 100%;
    padding: 25px;
    align-content: space-between;
}

.content-block {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
