.block-wrapper {
    color: #bec5cb;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    min-width: 280px;
}

.detail-block-wrapper {
    max-width: 960px;
    border-radius: 12px;
    background-color: #272C30;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 0px 10px black;
}

.detail-title-wrapper {
    width: 100%;
    border-bottom: 1px solid #bec5cb;
}

.detail-title-text {
    font-size: 36px;
    text-align: center;
}

.detail-section-top {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.detail-image-wrapper {
    width: 40%;
    min-width: 360px;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
}

.detail-image {
    width: 100%;
    height: 100%;
}

.detail-info-section {
    width: 60%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.detail-description-title-wrapper {
    width: 100%;
    border-bottom: 1px solid #bec5cb;
}

.detail-description-title-text {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}

.detail-description-text-wrapper {
    margin-top: 10px;
    text-align: justify;
}

.detail-about-title-wrapper {
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid #bec5cb;
}

.detail-about-title-text {
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}

.detail-about-content-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.detail-about-content-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 19px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.detail-about-content-left {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: top;
    padding-right: 7.5px;
    text-align: right;
}

.detail-about-content-right {
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: start;
    padding-left: 7.5px;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
}


.detail-about-links {
    width: 100%;
    color: #bec5cb ;
    text-align: left;
    text-decoration: none;
}

.detail-about-links:hover {
    text-decoration: underline;
}


/* DETAIL SECTION MIDDLE */
.detail-section-middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.supported-system-label {
    margin-right: 10px;
    min-width: 180px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supported-system-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.detail-system-wrapper {
    display: flex;
    font-size: 20px;
}

.detail-system-icon {
    color: #bec5cb ;
    margin-right: 10px;
}

.detail-system-text {
    color: #bec5cb ;
    font-size: 20px;
}

/* DETAIL SECTION BOTTOM */
.detail-section-bottom {
    margin-top: 10px;
    border-top: 1px solid #bec5cb;
    border-bottom: 1px solid #bec5cb;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.descriptors-section-wrapper {
    width: 360px;
    min-width: 360px;
    min-height: 150px;
    background-color: #393d41;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px black;
}

.widgets-section-wrapper {
    width: 360px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.widget-section {
    width: 100%;
    height: 60px;
    max-height: 60px;
    background-color: #393d41;
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widget-section-label {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-section-label-text {
    text-align: center;
}

.widget-section-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-section-content-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widget-section-content-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widget-section-content-top {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.widget-section-content-top-text {
    font-size: 24px;
    text-align: center;
}

.widget-section-content-top-text:hover {
    text-decoration: underline;
    cursor: default;
}

.widget-section-content-vertical{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-widget-percentage-text {
    font-size: 24px;
    text-align: center;
}

.review-widget-percentage-text:hover {
    text-decoration: underline;
    cursor: default;
}

.review-widget-positive-text {
    font-size: 20px;
    color: #80a45c;
}

.review-widget-positive-text:hover {
    border-bottom: 1px solid #80a45c;
    cursor: default;
}

.review-widget-negative-text {
    font-size: 20px;
    color: #f03424;
}

.review-widget-negative-text:hover {
    border-bottom: 1px solid #f03424;
    cursor: default;
}

.widget-section-content-bottom {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.emotion-container-flexer {
    flex-wrap: wrap;
}

.emotion-icon-wrapper {
    min-width: 35px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emotion-icon {
    font-size: 28px;
}

.emotion-icon:hover {
    filter: brightness(130%);
}

.emotion-happy {
    color: #6c3;
}

.emotion-angry {
    color: #ff683b;
}

.emotion-surprise {
    color: #FFFF00;
}

.emotion-sad {
    color: #006ee6;
}

.emotion-fear {
    color: #CC8899;
}

/* small emotion icon */
.emotion-icon-small-wrapper {
    min-width: 26px;
    min-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emotion-small-icon {
    font-size: 22px;
}

.emotion-small-icon:hover {
    filter: brightness(130%);
}

.descriptors-label-wrapper {
    font-size: 21px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.descriptors-container-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.descriptors-widget {
    padding: 5px;
    background-color: #4169E1;
    border-radius: 6px;
    margin-right: 3px;
    margin-top: 3px;
}

.category-widget {
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-widget-image {
    font-size: 20px;
}

.game-content-selector {
    max-width: 960px;
    height: 55px;
    border-radius: 12px;
    background-color: #272C30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px black;
}

.game-content-selector-widget {
    height: 90%;
    min-width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}

.game-content-selector-widget:hover {
    background-color: rgba(217, 217, 217, 0.3);
}

.game-content-selector-widget:focus {
    background-color: rgba(217, 217, 217, 0.3);
}

.content-selected {
    background-color: rgba(217, 217, 217, 0.3);
}

.game-review-wrapper {
    max-width: 960px;
    margin-bottom: 30px;
}

.game-recent-review-wrapper {
    max-width: 960px;
    padding-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-player-wrapper {
    max-width: 960px;
    margin-bottom: 30px;
}

.game-section {
    max-width: 960px;
    border-radius: 12px;
    background-color: #272C30;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px black;
}

.visualisation-container {
    width: 100%;
    max-width: 900px;
    margin-top: 15px;
    background-color: #383c40;
    border: 1px solid #bec5cb;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
}

.visualisation-container-header {
    width: 100%;
    height: 50px;
    background-color: #383c40;
    border-bottom: 1px solid #bec5cb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.visualisation-legend-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.visualisation-legend-bar-main-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.visualisation-legend-widget-wrapper {
    height: 25px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5px;
}

.positive-reviews-widget {
    border: 2px solid royalblue;
    background-color: rgba(65,105,225, 0.2);
}

.negative-reviews-widget {
    border: 2px solid crimson;
    background-color: rgba(220, 20, 60, 0.2);
}

.no-reviews-widget {
    border: 2px solid rgba(217, 217, 217, 0.3);
    background-color: rgba(217, 217, 217, 0.3);
}

.high-negative-sentiment-widget {
    border: 2px solid #f03424;
    background-color: rgba(240, 52, 36, 0.2);
    /* f03424 */
}

.mid-negative-sentiment-widget {
    border: 2px solid #f89c3c;
    background-color: rgba(248, 156, 60, 0.2);
    /* f89c3c */
}

.low-negative-sentiment-widget {
    border: 2px solid #f4ff50;
    background-color: rgba(244, 255, 80, 0.2);
    /* #f4ff50 */
}

.neutral-sentiment-widget {
    border: 2px solid royalblue;
    background-color: rgba(65,105,225, 0.2);
}

.light-positive-sentiment-widget {
    border: 2px solid #6c3;
    background-color: rgba(102, 204, 51, 0.2);
}

.medium-positive-sentiment-widget {
    border: 2px solid #80a45c;
    background-color: rgba(128, 164, 92, 0.2);
}

.high-positive-sentiment-widget {
    border: 2px solid #99b67d;
    background-color: rgba(153, 182, 125, 0.2);
}

/* emotion widgets */

.sad-emotion-widget {
    border: 2px solid #006ee6;
    background-color: rgba(0, 110, 230, 0.2);
}

.fear-emotion-widget {
    border: 2px solid #CC8899;
    background-color: rgba(204, 136, 153, 0.2);
}

.angry-emotion-widget {
    border: 2px solid #ff683b;
    background-color: rgba(255, 104, 59, 0.2);
}

.happy-emotion-widget {
    border: 2px solid #6c3;
    background-color: rgba(102, 204, 51, 0.2);
}

.surprise-emotion-widget {
    border: 2px solid #FFFF00;
    background-color: rgba(255, 255, 0, 0.2);
}

/* players widegt */
.player-widget {
    border: 2px solid #006ee6;
    background-color: rgba(0, 110, 230, 0.2);
}

.visualisation-legend-widget-minor-section {
    width: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualisation-legend-widget-colour-circle {
    width: 15px;
    height: 15px;
    border-radius: 30px;
}

.visualisation-legend-widget-major-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-size: 14px;
}

.visualisation-legend-bar-small-section {
    min-width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualisation-legend-bar-info-cirlce {
    font-size: 22px;
    cursor: pointer;
}

.visualisation-legend-bar-info-cirlce:hover {
    font-size: 25px;
    color: #187bcd;
}

.absolute-anchor {
    position: absolute;
    max-width: 0px;
    max-height: 0px;
    overflow: visible;
}

.vis-info-box-wrapper {
    position: relative;
    padding: 4px;
    border: 2px solid white;
    background-color: #171a1d;
    top: 20px;
    right: 165px;
    display: flex;
    min-width: 175px;
    min-height: 75px;
}

.vis-info-box {
    display: flex;
    cursor: default;
}

.vis-info-text {
    width: 100%;
    height: 100%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    text-align: left;
}

.visualisation-container-content {
    height: 480px;
    max-height: 600px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    overflow: visible;
}

.reviews-container-content {
    max-height: 800px;
    height: 550px;
}

.players-container-content {
    max-height: 800px;
    height: 550px;
}

.visualisation-container-content-no-data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.visualisation-container-options-wrapper {
    width: 66.6%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.visualisation-select {
    width: 50%;
    height: 60%;
    border-radius: 6px;
    background-color: rgba(217, 217, 217, 0.3);
    border: 1px solid #bec5cb;
    color: #bec5cb;
    text-align: center;
}

select option {
    background-color: rgba(217, 217, 217, 0.3);
}

/* .visualisation-select-option {
    background: rgba(217, 217, 217, 0.3);
    color: #bec5cb;
} */

.visualisation-container-options-wrapper-highlight {
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.visualisation-container-options-wrapper-highlight:hover {
    background-color: rgba(217, 217, 217, 0.3);
}

.visualisation-container-header-detail-widget {
    width: 33.3%;
    height: 100%;
    border-left: 1px solid #bec5cb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.visualisation-container-header-detail-widget-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.visualisation-container-header-detail-widget-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualisation-svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.visualisation-widgets-drawer {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divider {
    width: 100%;
    border-bottom: 1px solid #bec5cb;
}

.widgets-draw-icon-wrapper {
    width: 40px;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 30px;
    padding: 3px;
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widgets-icon {
    transition: 0.5s;
}

.widgets-icon-up {
    transform: rotate(-180deg);
}

.widgets-draw-icon-wrapper:hover {
    background-color: rgba(217, 217, 217, 0.3);
}

.visualisation-widgets-wrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.visualisation-widgets-container {
    width: 48%;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #393d41;
    box-shadow: 0px 0px 10px black;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hide-section {
    display: none;
    overflow: hidden;
}

.hide-ani {
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.review-wrapper {
    width: 100%;
    max-width: 960px;
    border-radius: 12px;
    background-color: #272C30;
    margin-bottom: 36px;
    box-shadow: 0px 0px 10px black;
}

.review-info-section {
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.review-info-sub-section {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.review-info-sub-section-label {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-info-sub-section-info {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.review-text-section {
    padding: 15px;
    border-top: 0.5px solid #bec5cb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.review-text-section {
    padding: 15px;
    border-top: 0.5px solid #bec5cb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.review-text-pre {
    width: 100%;
    overflow: hidden;
    max-height: 350px;
}

.review-expanded {
    max-height: none;
    border-bottom: 0px;
}

.expandable-review {
    border-bottom: 0.5px dashed #bec5cb;
}

.positive-text {
    margin: 0;
    color: #6c3;
}

.negative-text {
    margin: 0;
    color: #ff683b;
}

.neutral-text {
    margin: 0;
}

.happy-text {
    margin: 0;
    margin-right: 4px;
    color: #6c3;
}

.angry-text {
    margin: 0;
    margin-right: 4px;
    color: #ff683b;
}

.surprise-text {
    margin: 0;
    margin-right: 4px;
    color: #FFFF00;
}

.sad-text {
    margin: 0;
    margin-right: 4px;
    color: #006ee6;
}

.fear-text {
    margin: 0;
    margin-right: 4px;
    color: #CC8899;
}

.section-divider {
    height: 20px;
    border: 1px solid #bec5cb;
}

.hide-section {
    display: none;
}

.no-reviews-wrapper {
    width: 100%;
    max-width: 960px;
    min-width: 240px;
    border-radius: 12px;
    background-color: #272C30;
    box-shadow: 0px 0px 10px black;
}

.no-reviews-wrapper-content {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-reviews-content-area  {
    width: 80%;
    padding: 15px;
    background-color: #383c40;
    border: 1px solid #bec5cb;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.more-reviews-button-wrapper {
    width: 300px;
    height: 56px;
    background-color: rgb(65, 105, 225);
    border-radius: 6px;
    border: 0;
    font-size: 24px;
    color: #BEC5CB;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
    cursor: pointer;
}

.review-about-section {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.review-about-label-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-about-content-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-button-section {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-button {
    background-color: #4169E1;
    height: 26px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;
    outline: 0;
    box-shadow: 0px 0px 10px black;
    color: #bec5cb;
}

.detail-button:hover {
    box-shadow: 0px 0px 10px white;
}

.detail-button:focus {
    box-shadow: 0px 0px 10px white;
}

.alternate-detail-button {
    background-color: gray;
}

.detail-message-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 800px){

    .detail-section-top {
        flex-direction: column;
        align-items: center;
    }

    .detail-info-section {
        width: 100%;
        padding-left: 0;
    }

    .detail-section-bottom {
        flex-direction: column;
        align-items: center;
    }

    .descriptors-section-wrapper {
        width: 100%;
        min-width: 0;
    }

    .widgets-section-wrapper {
        width: 100%;
        padding-left: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .widget-section {
        margin-bottom: 10px;
    }

    .detail-about-content-row {
        flex-direction: column;
    }

    .detail-about-content-left {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 0px;
    }

    .detail-about-content-right {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px;
    }

    .detail-about-links {
        text-align: center;
    }

    .detail-system-text {
        display: none;
    }

    .detail-system-icon {
        margin-right: 0px;
    }

    .detail-section-middle {
        flex-direction: column;
    }

    .supported-system-section {
        margin-top: 10px;
        justify-content: center;
    }

    .detail-system-wrapper {
        margin-right: 7.5px;
        margin-left: 7.5px;
    }

}

@media only screen and (max-width: 900px) {
    .visualisation-legend-widget-major-section {
        font-size: 12px;
    }

    .visualisation-legend-bar-main-section {
        padding-left: 0px;
    }
}

@media only screen and (max-width:680px){

    .visualisation-select {
        width: 90%;
    }

}

@media only screen and (max-width:650px){

    .visualisation-container-header-detail-widget {
        flex-direction: column;
    }
    
    .visualisation-container-header-detail-widget-left {
        width: 100%;
        height: 50%;
        font-size: 13px;
    }
    
    .visualisation-container-header-detail-widget-right {
        width: 100%;
        height: 50%;
        font-size: 13px;
    }

}

@media only screen and (max-width:600px){

    .visualisation-widgets-wrapper {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .visualisation-widgets-container {
        width: 100%;
    }

}

@media only screen and (max-width:500px){

    .widgets-section-wrapper {
        width: 100%;
        padding-left: 0;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .widget-section {
        width: 100%;
    }

    .visualisation-legend-widget-major-section {
        font-size: 10px;
    }

    .visualisation-legend-bar-main-section {
        padding-left: 0px;
    }

    #vis-prom-emotion-label {
        font-size: 11px;
    }

}


@media only screen and (max-width:440px){


    .detail-image-wrapper {
        min-width: 100%;
    }

}

@media only screen and (max-width:450px) {
    
    .game-section {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .detail-about-content-row {
        flex-direction: column;
    }

    .detail-about-content-left {
        width: 100%;
        padding: 0px;
        justify-content: center;
    }

    .detail-about-content-right {
        width: 100%;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }
    
}

@media only screen and (max-width: 706px){

    .review-info-section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .review-info-sub-section {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .review-info-sub-section-label {
        justify-content: end;
        text-align: end;
    }

    .review-about-label-section {
        justify-content: end;
    }

    .section-divider {
        display: none;
    }

}
