.block-wrapper {
    color: #bec5cb;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    min-width: 280px;
}

.filter-block {
    width: 100%;
    border-radius: 12px;
    background-color: #272C30;
    margin-bottom: 36px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px black;
}

.review-filter-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filter-block-top-section {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.reviews-text-search-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.reviews-text-search {
    width: 90%;
    height: 55px;
    border-radius: 12px;
    padding: 10px;
    resize: none;
    background-color: rgba(217, 217, 217, 0.3);
    border: 1px solid #bec5cb;
    color: #bec5cb;
}

.filter-label {
    font-size: 18px;
    font-weight: bold;
}

.filter-block-bottom-section {
    width: 100%;
    padding: 5px;
    border-top: 0.5px solid #bec5cb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.filter-block-bottom-section-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.filter-block-bottom-section-row-wrapper {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-block-bottom-section-row-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-block-bottom-section-row-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-block-bottom-section-row-sub-group {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-select {
    width: 240px;
    height: 30px;
    margin: 5px;
    background-color: rgba(217, 217, 217, 0.3);
    border: 1px solid #bec5cb;
    border-radius: 6px;
    color: #bec5cb;
    text-align: center;
    font-size: 16px;
}

.review-filter-input {
    width: 234px;
    height: 26px;
    margin: 5px;
    background-color: rgba(217, 217, 217, 0.3);
    border: 1px solid #bec5cb;
    border-radius: 6px;
    color: #bec5cb;
    text-align: center;
    font-size: 18px;
}

.reviews-block {
    width: 100%;
}

.review-wrapper {
    width: 100%;
    border-radius: 12px;
    background-color: #272C30;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
}

.review-info-section {
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.review-info-sub-section {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.review-info-sub-section-label {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-info-sub-section-info {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.review-text-section {
    padding: 15px;
    border-top: 0.5px solid #bec5cb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.review-text-pre {
    width: 100%;
    overflow: hidden;
    max-height: 350px;
}

.positive-text {
    margin: 0;
    color: #6c3;
}

.negative-text {
    margin: 0;
    color: #ff683b;
}

.neutral-text {
    margin: 0;
}

.happy-text {
    margin: 0;
    margin-right: 4px;
    color: #6c3;
}

.angry-text {
    margin: 0;
    margin-right: 4px;
    color: #ff683b;
}

.surprise-text {
    margin: 0;
    margin-right: 4px;
    color: #FFFF00;
}

.sad-text {
    margin: 0;
    margin-right: 4px;
    color: #006ee6;
}

.fear-text {
    margin: 0;
    margin-right: 4px;
    color: #CC8899;
}

.section-divider {
    height: 20px;
    border: 1px solid #bec5cb;
}

.search-button-section {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.search-button {
    width: 100px;
    height: 30px;
    background-color: #4169E1;
    border: 0px;
    color: #bec5cb;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.clear-button {
    width: 100px;
    height: 30px;
    background-color: rgba(217, 217, 217, 0.3);
    border: 0px;
    color: #bec5cb;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.review-expanded {
    max-height: none;
    border-bottom: 0px;
}

.expandable-review {
    border-bottom: 0.5px dashed #bec5cb;
}

.page-selector {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #bec5cb;
}

.review-about-section {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.review-about-label-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-about-content-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media only screen and (max-width: 900px){

    .review-info-section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-divider {
        display: none;
    }

} */

@media only screen and (max-width: 706px){

    .review-info-section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .review-info-sub-section-label {
        justify-content: end;
        text-align: end;
    }

    .review-about-label-section {
        justify-content: end;
    }

    .section-divider {
        display: none;
    }

}

