.block-wrapper {
    color: #bec5cb;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

#game-list-mini-icon {
    background-color: rgba(217, 217, 217, 0.3);
}

#game-list-icon {
    background-color: rgba(217, 217, 217, 0.3);
}

.filter-block {
    width: 100%;
    border-radius: 12px;
    background-color: #272C30;
    margin-bottom: 36px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px black;
}

.filter-form {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-filter-section {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.empty-filter-wrapper {
    min-width: 10%;
    height: 100%;
}

.search-filter-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-input-text-display-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input-text-display-widget {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    background-color: #363C41;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-search-icon {
    margin-left: 7.5px;
}

.search-input-text-display {
    margin-top: 5px;
    margin-bottom: 5px;
    bottom: 0;
    font-size: 18px;
}

.search-bar-wrapper {
    width: 80%;
    height: 50px;
    display: flex;
}

.search-bar-input {
    width: 100%;
    background-color: #363C41;
    border-radius: 4px 0px 0px 4px;
    border: 0;
    font-size: 24px;
    color: #bec5cb;
    padding-left: 10px;
}

.search-bar-button {
    min-width: 50px;
    min-height: 50px;
    background-color: #4169E1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 4px 4px 0px;
    border: 0;
    cursor: pointer;
}

.clear-filters-wrapper {
    min-width: 60px;
    width: 10%;
    height: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-filter-wrapper {
    min-width: 60px;
    width: 10%;
    height: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-clear-wrapper {
    min-width: 50px;
    min-height: 50px;
    border-radius: 4px;
    background-color: #393d41;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
}

.filter-dropdown-wrapper {
    min-width: 50px;
    min-height: 50px;
    border-radius: 4px;
    background-color: #4169E1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
}

.filter-break {
    width: 90%;
    border-top: 0.5px solid #bec5cb;
}

.bottom-filter-section {
    width: 33.3%;
}

.bottom-filter {
    width: 100%;
    height: 500px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 1s;
    overflow: hidden;
}

.bottom-filter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-wrapper {
    min-width: 240px;
    width: 240px;
    height: 50px;
    margin-bottom: 100px;
}

.dropdown-label {
    color: #bec5cb;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.dropdown-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 0;
    border: 0;
    background-color: #363C41;
    border-radius: 4px 0px 0px 4px;
}

.dropdown-button-display {
    width: 100%;
    height: 100%;
    background-color: #363C41;
    border-radius: 4px 0px 0px 4px;
    padding-left: 5px;
    padding-right: 5px;
    overflow:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* width */
.dropdown-button-display::-webkit-scrollbar {
    height: 10px;
}
  
/* Track */
.dropdown-button-display::-webkit-scrollbar-track {
    background: rgba(217, 217, 217, 0.3); 
}

/* Handle */
.dropdown-button-display::-webkit-scrollbar-thumb {
    background: #bec5cb; 
}

/* Handle on hover */
.dropdown-button-display::-webkit-scrollbar-thumb:hover {
    background: #bec5cb; 
}

.dropdown-button-display-widget {
    background-color: #4169E1;
    height: 28px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border-radius: 4px;
    margin-right: 3px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bec5cb;
}

.dropdown-button-arrow-wrapper {
    min-height: 50px;
    min-width: 50px;
    background-color: #4169E1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 4px 4px 0px;
}

.dropdown-menu {
    max-height: 200px;
    min-width: 220px;
    background-color: #363C41;
    position: absolute;
    border-radius: 6px;
    transition: 1s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.dropdown-menu-item-wrapper {
    width: 100%;
    min-height: 35px;
    overflow: scroll;
    overflow-x: hidden;
}

/* width */
.dropdown-menu-item-wrapper::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
.dropdown-menu-item-wrapper::-webkit-scrollbar-track {
    background: rgba(217, 217, 217, 0.3); 
}

/* Handle */
.dropdown-menu-item-wrapper::-webkit-scrollbar-thumb {
    background: #bec5cb; 
}

/* Handle on hover */
.dropdown-menu-item-wrapper::-webkit-scrollbar-thumb:hover {
    background: #bec5cb; 
}

.dropdown-menu-item {
    width: 100%;
    min-height: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown-menu-item:hover {
    background-color: rgba(217, 217, 217, 0.3);
}

.dropdown-menu-item-selected {
    background-color: rgba(217, 217, 217, 0.3)
}

.filter-icon {
    color: #bec5cb;
    font-size: 30px;
    transition: 0.5s;
    z-index: 900;
}

.clear-icon {
    color: #bec5cb;
    font-size: 30px;
    transition: 0.5s;
    z-index: 900;
}

.filter-icon-down {
    transform: rotate(-180deg);
}

.search-icon {
    color: #bec5cb;
    font-size: 30px;
}

.content-block {
    width: 100%;
    border-radius: 12px;
    background-color: #272C30;
    box-shadow: 0px 0px 10px black;
}

.game-list-wrapper {
    display: flex;
    flex-direction: column;
}

.game-tab-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-tabs-header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.game-tabs-header-text {
    width: 22%;
    max-width: 22%;
}

.game-tabs-header-hidden {
    width: 12%;
}

.game-tab {
    width: 100%;
    height: 100%;
    display: flex;
    border-top: 1px solid #bec5cb;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-tab:hover {
    filter: brightness(60%);
}

.game-tab-block {
    width: 22%;
    max-width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.game-tab-block-more {
    width: 12%;
    height: 100%;
}

.game-tab-more-info-wrapper {
    width: 95%;
    background-color: #363C41;
    margin-bottom: 10px;
    border-radius: 0px 0px 6px 6px;
    padding: 15px;
    transition: 0.5s;
    overflow: hidden;
}

.game-tab-more-info-section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.game-tab-more-info-section-first {
    width: 35%;
    min-width: 220px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-tab-more-info-section-second {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.description-label {
    font-weight: bold;
}

.description-box {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0.5px solid #bec5cb;
    font-size: 14px;
    text-align: justify;
}

.descriptors-box {
    height: 100%;
    padding-top: 10px;
    border-top: 0.5px solid #bec5cb;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.descriptors-box-section {
    width: 33.3%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.descriptors-box-labels {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.descriptors-box-labels-text {
    width: 33.3%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.descriptors-box-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.more-info-image {
    width: 100%;
    min-width: 220px;
    height: 100%;
    min-height: 110px;
    max-height: 160px;
    border-radius: 13px;
}

.category-widget {
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-widget-image {
    font-size: 20px;
}

.more-info-button-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-button-highlight {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
}

.more-info-button-highlight:hover{
    background-color: rgba(217, 217, 217, 0.3);;
}

.more-info-button {
    font-size: 28px;
}

.game-descriptor-box {
    background-color: #4169E1;
    height: 28px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border-radius: 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    height: 0;
    transition: 0.5s;
    padding-top: 0;
    margin: 0;
    padding: 0;
}

.hide-none {
    display: none;
}

.page-selector {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #bec5cb;
}

@media only screen and (max-width: 710px){

    .name-header {
        width: 29.3%;
        max-width: 29.3%;
    }

    .name-tab-block {
        width: 29.3%;
        max-width: 29.3%;
    }

    .genres-header {
        width: 29.3%;
        max-width: 29.3%;
    }

    .genres-tab-block {
        width: 29.3%;
        max-width: 29.3%;
    }

    .tag-header {
        width: 29.3%;
        max-width: 29.3%;
    }

    .tag-tab-block {
        width: 29.3%;
        max-width: 29.3%;
    }

    .category-header {
        width: 0;
        display: none;
    }

    .category-tab-block {
        width: 0;
        display: none;
    }

    .game-tab-more-info-section-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .game-tab-more-info-section-first {
        width: 90%;
        margin-bottom: 15px;
    }

    .game-tab-more-info-section-second {
        width: 90%;
        padding-left: 0;
    }

}

@media only screen and (max-width: 800px){

    .search-filter-wrapper {
        margin-left: 0;
    }

    .search-bar-wrapper {
        width: 90%;
    }

}

@media only screen and (max-width: 900px){
    .bottom-filter {
        flex-direction: column;
        align-items: center;
    }

    .bottom-filter-section {
        width: 90%;
    }

    .list-items {
        max-width: 75%;
    }

}
