/* TEMPORARY REMOVE LATER */
.bar {
    fill: royalblue;
    z-index: 1500;
}

.neg-bar {
    fill: crimson;
    z-index: 900;
}

.bar:hover {
    filter: brightness(130%);
}

.neg-bar:hover{
    filter: brightness(130%);
}

