/* TEMPORARY REMOVE LATER */
.bar {
    fill: royalblue;
    z-index: 1500;
}

.neg-bar {
    fill: crimson;
    z-index: 900;
}

.background-bar {
    fill: #383c40;
}

.bar:hover {
    filter: brightness(130%);
}

.neg-bar:hover{
    filter: brightness(130%);
}

/* Sentiment Bar Colours */
#sentiment-bar-01, #sentiment-bar-02, #sentiment-bar-03, #sentiment-bar-04  {
    fill: #6c3;
}

#sentiment-bar-05, #sentiment-bar-06, #sentiment-bar-07 {
    fill: #80a45c;
}

#sentiment-bar-08, #sentiment-bar-09, #sentiment-bar-1 {
    fill: #99b67d;
}

#sentiment-bar--01, #sentiment-bar--02, #sentiment-bar--03, #sentiment-bar--04  {
    fill: #f4ff50;
}

#sentiment-bar--05, #sentiment-bar--06, #sentiment-bar--07 {
    fill: #f89c3c;
}

#sentiment-bar--08, #sentiment-bar--09, #sentiment-bar--1 {
    fill: #f03424;
}

/* pie chart */
.pie-part:hover {
    filter: brightness(130%);
}

/* TOOLTIP */
.tooltip {
    position: absolute;
    z-index: 1000;
    display: block;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0;
    color: black;
}