.block-wrapper {
    color: #bec5cb;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.developer-detail-wrapper {
    min-width: 240px;
    max-width: 960px;
    border-radius: 12px;
    background-color: #272C30;
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.developer-detail-title-wrapper {
    width: 100%;
    border-bottom: 1px solid #bec5cb;
}

.developer-detail-title-text {
    font-size: 36px;
    text-align: center;
}

.developer-content-selector-wrapper {
    max-width: 960px;
    min-width: 240px;
    height: 55px;
    border-radius: 12px;
    background-color: #272C30;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.developer-content-selector-button-wrapper {
    height: 60px;
    min-width: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.developer-content-selector-button-wrapper:hover {
    background-color: rgba(217, 217, 217, 0.3);
}

.developer-games-list-section-wrapper {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272C30;
    box-shadow: 0px 0px 10px black;
    padding: 15px;
}

.developer-games-list-section-title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #bec5cb;
}

.developer-games-list-section-title-text {
    font-size: 32px;
    text-align: center;
    white-space: nowrap;
}

.developer-game-widget-wrapper {
    width: 100%;
    border-radius: 6px;
    background-color: #393d41;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 15px;
}

.developer-game-widget-wrapper:hover {
    box-shadow: 0px 0px 10px white;
}

.developer-game-widget-image-wrapper {
    width: 210px;
    min-width: 210px;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
}

.developer-game-widget-image {
    width: 100%;
    height: 100%;
}

.developer-game-info-widget-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.developer-game-info-title-section {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.developer-game-info-title-text {
    font-size: 22px;
    text-align: center;
}

.developer-game-info-tags-section {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-tag-block {
    background-color: #4169E1;
    height: 28px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border-radius: 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px){

    .developer-game-widget-wrapper {
        align-items: center;
        flex-direction: column;
        width: 300px;
        flex-grow: 20;
    }

    .developer-game-info-title-section {
        margin-top: 10px;
    }

    .developer-game-info-title-text {
        padding-left: 5px;
        padding-right: 5px;
    }

    .developer-game-info-tags-section {
        margin-top: 10px;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }

    .developer-game-widget-image-wrapper {
        width: 300px;
        height: 144px;
    }

    .developer-game-widget-image {
        border-radius: 6px;
    }

}
