.block-wrapper {
    color: #bec5cb;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

#charts-mini-icon {
    background-color: rgba(217, 217, 217, 0.3);
}

#charts-list-icon {
    background-color: rgba(217, 217, 217, 0.3);
}

.filter-block {
    width: 100%;
    height: 100px;
    border-radius: 12px;
    background-color: #272C30;
    margin-bottom: 36px;
    display: flex;
    flex-direction: row;
}

.chart-select-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-select {
    width: 90%;
    height: 30px;
    background-color: rgba(217, 217, 217, 0.3);
    border: 1px solid #bec5cb;
    border-radius: 6px;
    color: #bec5cb;
    text-align: center;
}

.content-block {
    width: 100%;
    border-radius: 12px;
    background-color: #272C30;
}

.game-list-wrapper {
    display: flex;
    flex-direction: column;
}

.game-tabs-header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.game-tabs-header-rank {
    width: 10%;
    max-width: 10%;
}

.game-tabs-header-text {
    width: 25%;
    max-width: 25%;
}

.game-tabs-header-more {
    width: 15%;
    max-width: 15%;
}

.game-tab-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-tab {
    width: 100%;
    height: 100%;
    display: flex;
    border-top: 1px solid #bec5cb;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-tab-block {
    width: 25%;
    max-width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.game-tab-block-short-1 {
    width: 10%;
    max-width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-tab-block-short-2 {
    width: 15%;
    max-width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-descriptor-box {
    background-color: #4169E1;
    height: 28px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    border-radius: 4px;
    margin-right: 3px;
    margin-bottom: 3px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-tab:hover {
    filter: brightness(150%);
    cursor: pointer;
}

.more-info-button-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-button-highlight {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
}

.more-info-button-highlight:hover{
    background-color: rgba(217, 217, 217, 0.3);;
}

.more-info-button {
    font-size: 28px;
}

.game-tab-more-info-wrapper {
    width: 95%;
    background-color: #363C41;
    margin-bottom: 10px;
    border-radius: 0px 0px 6px 6px;
    padding: 15px;
    transition: 0.5s;
    overflow: hidden;
}

.game-tab-more-info-section-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-tab-more-info-section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.game-tab-more-info-section-first {
    width: 35%;
    min-width: 220px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-tab-more-info-section-second {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.more-info-image {
    width: 100%;
    min-width: 220px;
    height: 100%;
    min-height: 110px;
    max-height: 160px;
    border-radius: 13px;
}

.description-box {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0.5px solid #bec5cb;
    font-size: 14px;
    text-align: justify;
}

.descriptors-box {
    height: 100%;
    padding-top: 10px;
    border-top: 0.5px solid #bec5cb;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.descriptors-box-labels {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.descriptors-box-labels-text {
    width: 33.3%;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.descriptors-box-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.descriptors-box-section {
    width: 33.3%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

.category-widget {
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-widget-image {
    font-size: 20px;
}

.hide-none {
    display: none;
}

@media only screen and (max-width: 750px){
    .filter-block {
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }

    .chart-select-wrapper {
        width: 90%;
    }
}
