{% extends "users/base.html" %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'users/css/login.css' %}">

    <div class="content-wrapper">

        <div class="login-box">
            <div class="bi bi-eye" id="logo"></div>
            <header class="title">Steam Vision</header>

            <form method="POST" class="login-form">
                {% csrf_token %}

                <input type="text" name="username" id="username-input" required placeholder="Username">

                <input type="password" name="password" id="password-input" required placeholder="Password">

                <div class="message-box">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>

                <div class="bottom-box">

                    <button class="login-button">
                        <div class="bi bi-box-arrow-in-right" id="login-icon"></div>
                        <p>Login</p>
                    </button>

                    <div class="text-info">
                        <p>Don't have an account? <a href="{% url 'register' %}" class="text-info-link"> Register</a></p>
                    </div>

                    <div class="text-info">
                        <p>Forgot you password? <a href="#" class="text-info-link"> Reset it</a></p>
                    </div>

                </div>

            </form>

        </div>

    </div>

{% endblock %}
