{% extends "users/base.html" %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'users/css/profile-edit-password.css' %}">

    <script src="{% static 'users/javascript/profile-edit-password.js' %}"></script>

    <div class="content-wrapper">

        <div class="content-section">
            <div class="edit-box">

                <div class="content-title-wrapper">
                    <header class="content-title-text">
                        Edit Profile
                    </header>
                </div>

                <form method="POST" class="content-section-wrapper">
                    {% csrf_token %}
                    <div class="user-info-bar">
                        <div class="user-info-bar-label">
                            <b>Current Password</b> 
                        </div>
                        <input class="profile-input" type="password" name="old_password" id="current-password-input" placeholder="Current Password" required>
                    </div>

                    <div class="user-info-bar">
                        <div class="user-info-bar-label">
                            <b>New Password</b> 
                        </div>
                        <input class="profile-input" type="password" name="new_password1" id="new-password-input" placeholder="New Password" required>
                    </div>

                    <div class="user-info-bar">
                        <div class="user-info-bar-label">
                            <b>New Password Confirm</b> 
                        </div>
                        <input class="profile-input" type="password" name="new_password2" id="new-password-confirm-input" placeholder="New Password Confirm" required>
                    </div>

                    <div class="message-box">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <span class="errorlist">{{ error }}</span>
                            {% endfor %}
                        {% endfor %}
                    </div>

                    <div class="user-info-button-wrapper">
                        <button class="cancel-button" type="button" id="cancel-edit-password-button">
                            Cancel
                        </button>
                        <button class="user-info-button" type="submit" id="edit-password-button">
                            Edit Password
                        </button>
                    </div>

                </form>

            </div>
        </div>

    </div>

{% endblock %}