{% extends "home/base.html" %}
{% load static %}

{% block content %}

    <!-- MY CSS -->
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">

    <!-- MY JS -->
    <script src="{% static 'users/javascript/profile.js' %}"></script>

    <div class="block-wrapper">

        <div class="profile-info-wrapper">

            <div class="profile-info-section">

                <div class="profile-icon-wrapper">
                    <i class="bi bi-person-circle profile-icon-widget"></i>
                </div>

                <div class="profile-info">
                    <div class="profile-info-content-section">
                        <div class="profile-info-content-label">
                            <b>Username:</b> 
                        </div>
                        <div class="profile-info-content-text">
                            {{ user.username }}
                        </div>
                    </div>
                    <div class="profile-info-content-section">
                        <div class="profile-info-content-label">
                            <b>Email:</b> 
                        </div>
                        <div class="profile-info-content-text">
                            {{ user.email }}
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="profile-content-selector">
            <div class="profile-content-selector-widget content-selected" id="followed-games-selector-button">
                <b>Followed Games</b> 
            </div>
            <!-- <div class="profile-content-selector-widget" id="system-info-selector-button">
                <b>System Info</b> 
            </div> -->
            <div class="profile-content-selector-widget" id="edit-profile-selector-button">
                <b>Profile Info</b> 
            </div>
        </div>

        <div class="content-section" id="followed-games-section">

            <div class="content-section-box">
                <div class="content-title-wrapper">
                    <header class="content-title-text">
                        Followed Games
                    </header>
                </div>

                {% for game in followed_games %}
                    <div class="game-widget-wrapper" id="game-app-{{ game.app_id }}" href="/games/{{game.app_id}}/" tabindex="0">
                        <div class="game-widget-image-wrapper">
                            <img src="{{ game.header_image }}" alt="" class="game-widget-image">
                        </div>

                        <div class="game-info-widget-section">
                            <div class="game-info-title-section">
                                <header class="game-info-title-text">{{ game.name }}</header>
                            </div>
                            <div class="game-info-tags-section">
                                {% for tag in game.tags %}
                                    {% if forloop.counter < 5 %}
                                        <div class="game-tag-block">
                                            {{ tag }}         
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="game-info-detail-section">
                            
                            </div>
                        </div>

                        <div class="game-end-section-wrapper">
                            <div class="game-end-section-top-wrapper">

                            </div>
                            <div class="game-end-section-bottom-wrapper">
                                <div class="unfollow-button" type="button" id="game-unfollow-{{ game.app_id }}">
                                    Unfollow
                                </div>
                                <!-- <button class="unfollow-button" type="button" id="game-unfollow-{{ game.app_id }}" onclick="unfollowButton(event, this.id)" onkeypress="">
                                    Unfollow
                                </button> -->
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>



        </div>

        <!-- <div class="content-section hide-section" id="system-info-section">
            <div class="content-section-box">
                <div class="content-title-wrapper">
                    <header class="content-title-text">
                        System Info
                    </header>
                </div>

                <div class="content-section-wrapper">
                    <div class="user-info-bar">
                        <div class="user-info-bar-label">
                            <b>OS:</b> 
                        </div>
                        <div class="user-info-bar-contents">
                            Placeholder
                        </div>
                    </div> 

                    <div class="user-info-bar">
                        <div class="user-info-bar-label">
                            <b>Processor:</b> 
                        </div>
                        <div class="user-info-bar-contents">
                            Placeholder
                        </div>
                    </div>

                    <div class="user-info-bar">
                        <div class="user-info-bar-label">
                            <b>Memory:</b> 
                        </div>
                        <div class="user-info-bar-contents">
                            Placeholder
                        </div>
                    </div>

                    <div class="user-info-bar">
                        <div class="user-info-bar-label">
                            <b>Graphics:</b> 
                        </div>
                        <div class="user-info-bar-contents">
                            Placeholder
                        </div>
                    </div>

                    <div class="user-info-bar">
                        <div class="user-info-bar-label">
                            <b>Storage:</b> 
                        </div>
                        <div class="user-info-bar-contents">
                            Placeholder
                        </div>
                    </div>

                    <div class="user-info-button-wrapper">
                        <div class="user-info-button" id="edit-system-info-button">
                            Edit System Info
                        </div>
                    </div>

                </div>

            </div>
        </div> -->

        <div class="content-section hide-section" id="edit-profile-section">
            <div class="content-section-box">
                <div class="content-title-wrapper">
                    <header class="content-title-text">
                        Profile Info
                    </header>
                </div>

                <div class="content-section-wrapper">

                    <div class="user-info-bar">
                        <div class="user-info-bar-label">
                            <b>Username:</b> 
                        </div>
                        <div class="user-info-bar-contents">
                            {{ user.username }}
                        </div>
                    </div>

                    <div class="user-info-bar">
                        <div class="user-info-bar-label">
                            <b>Email:</b> 
                        </div>
                        <div class="user-info-bar-contents">
                            {{ user.email }}
                        </div>
                    </div>

                    <div class="user-info-button-wrapper">
                        <div class="user-info-button" id="edit-profile-button">
                            Edit Profile
                        </div>
                    </div>

                </div>
                
            </div>
        </div>

    </div>

{% endblock %}
