{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- MY CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'users/css/users_base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'users/css/users_nav.css' %}">

        <title>Steam Vision</title>

    </head>
    <body class="main-colour">
        <div class="wrapper">

            <div class="navbar">

            </div>

            <div class="content-wrapper">

                {% block content %}{% endblock %}

            </div>

        </div>
    </body>
</html>


