.content-wrapper {
    height: 100%;
    color: #bec5cb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section {
    max-width: 960px;
    margin-bottom: 30px;
}

.edit-box {
    max-width: 960px;
    width: 960px;
    border-radius: 12px;
    background-color: #272C30;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
}

.content-title-wrapper {
    width: 100%;
    border-bottom: 1px solid #bec5cb;
}

.content-title-text {
    font-size: 36px;
    text-align: center;
}

.content-section-wrapper {
    width: 100%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
}

.user-info-bar {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.user-info-bar-label {
    width: 156px;
    font-size: 25px;
}

.user-info-button-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

.cancel-button {
    width: 150px;
    height: 34px;
    margin-right: 15px;
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 6px;
    border: 0;
    font-size: 20px;
    color: #BEC5CB;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cancel-button:hover {
    filter: brightness(120%);
}

.user-info-button {
    width: 150px;
    height: 34px;
    background-color: #292D88;
    border-radius: 6px;
    border: 0;
    font-size: 20px;
    color: #BEC5CB;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-info-button:hover {
    filter: brightness(120%);
}

.profile-input {
    height: 40px;
    font-size: 25px;
    border-radius: 6px;
    padding-left: 10px;
}
