.main-colour {
    background-color: #272c30;
}

.secondary-colour {
    background-color: #363c41;
}

.text-colour {
    color: #bec5cb;
}

.content-wrapper {
    margin-top: 55px;
    min-height: 90vh;
    padding: 25px;
    margin: 0;
    align-content: space-between;
    display: flex;
    justify-content: center;
}
